#app
  position relative
#cvsBg
  height 500px
  position absolute
  top: 50%
  left: 50%
  transform translate(-50%, -50%)
  opacity 0.8
#map
  width: 600px
  height: 600px
  position absolute
  top: 50%
  left: 50%
  transform translate(-50%, -50%)
