$p = 156
$itemW = 150
$itemH = 150
$rotateW = 4 * $p
$rotateH = 3.46 * $p
.rotate
  position absolute
  margin 0 auto
  top 50%
  left 50%
  width ($rotateW) px
  height: ($rotateH) px
  transform-style preserve-3d
  // transform rotateX(-10deg)
  // background-color: #fff
  animation rotate3d linear 30s infinite
  z-index 20

  &:hover
    animation-play-state: paused;
    -webkit-animation-play-state: paused;

    .rotate-inner
      .rotate-inner-item
        animation-play-state: paused;
        -webkit-animation-play-state: paused;

  .rotate-inner
    position relative
    width: 100%
    height: 100%
    color #fff

    .rotate-inner-item
      animation rotate3dOpposite linear infinite 30s
      text-align center
      width: ($itemW) px
      height: ($itemH) px
      position relative
      &:nth-child(1)
        position absolute
        top: (0 - $itemH/ 2) px
        left: ($p - $itemW/ 2) px

      &:nth-child(2)
        position absolute
        top: (0 - $itemH/ 2) px
        left: ($p* 3 - $itemW/ 2) px

      &:nth-child(3)
        position absolute
        top: ($rotateH/ 2 - $itemH/ 2) px
        left: ($p* 4 - $itemW/ 2) px

      &:nth-child(4)
        position absolute
        top: ($rotateH - $itemH/ 2) px
        left: ($p* 3 - $itemW/ 2) px

      &:nth-child(5)
        position absolute
        top: ($rotateH - $itemH/ 2) px
        left: ($p - $itemW/ 2) px

      &:nth-child(6)
        position absolute
        top: ($rotateH/ 2 - $itemH/ 2) px
        left: (0 - $itemW/ 2) px

      .cir-bg
        position absolute
        left: 50%
        top: 50%
        width: 70px
        height: 70px
        text-align center
        transform translate(-50%, -50%) rotateX(70deg) scaleY(7)
        background-image: url('../../images/luohe_big_data/yuan.png')
        background-position: center bottom
        -webkit-background-size: 100% 100%
        background-size:  100% 100%
        background-repeat: no-repeat

        .inner-item-text
          position relative
          width: 100%
          padding-top: 15px
          p
            font-size: 14px
            text-align center
          .text-percent
            font-weight: 700
            color #fbc606
          .text-count
            font-weight: 700
            color #fbc606
            font-size: 12px
            transform translateX(8px)
            .unit-font
              font-size: 12px
          .text-title
            position absolute
            bottom: -35px
            font-size: 12px
            text-align center
            width: 100%

.center
  height: 100%
  overflow hidden
  .num-title
    .title-text
      width 48%
  .num-title
    padding: 0 20px
    .title-text
      color #fff
      font-size: 28px
      font-weight: 700
      .union
        font-size: 16px
  .num-bar
    height: 120px
    $cornerColor = #68fefe
    padding: 20px
    .num-box
      position relative
      width: 48%
      background-color: rgba(60,100,200,0.2)
      .corner
        position absolute
        width 10px
        height: 10px
        &:nth-of-type(2)
          left: 0
          top: 0
          border-top: 1px solid $cornerColor
          border-left: 1px solid $cornerColor
        &:nth-of-type(3)
          left: 0
          bottom: 0
          border-bottom: 1px solid $cornerColor
          border-left: 1px solid $cornerColor
        &:nth-of-type(4)
          right: 0
          top: 0
          border-top: 1px solid $cornerColor
          border-right: 1px solid $cornerColor
        &:nth-of-type(5)
          right: 0
          bottom: 0
          border-bottom: 1px solid $cornerColor
          border-right: 1px solid $cornerColor
      .num-list
        padding 0 6px
        span
          display inline-block
          width 45px
          height: 60px
          margin 10px 0
          background-repeat: no-repeat
          -webkit-background-size: 100% 100%
          background-size: 100% 100%
        .num-bg-0
          background-image: url(../../images/luohe_big_data/num/0.png)
        .num-bg-1
          background-image: url(../../images/luohe_big_data/num/1.png)
        .num-bg-2
          background-image: url(../../images/luohe_big_data/num/2.png)
        .num-bg-3
          background-image: url(../../images/luohe_big_data/num/3.png)
        .num-bg-4
          background-image: url(../../images/luohe_big_data/num/4.png)
        .num-bg-5
          background-image: url(../../images/luohe_big_data/num/5.png)
        .num-bg-6
          background-image: url(../../images/luohe_big_data/num/6.png)
        .num-bg-7
          background-image: url(../../images/luohe_big_data/num/7.png)
        .num-bg-8
          background-image: url(../../images/luohe_big_data/num/8.png)
        .num-bg-9
          background-image: url(../../images/luohe_big_data/num/9.png)
  .earth-wrapper
    position relative
    overflow: hidden
    .title-count
      position absolute
      top: 35%
      left: 50%
      transform translateX(-50%)
      color: #fff
      text-align center
      z-index 100
      font-size: 18px
      i
        text-shadow 0 0 4px #1b131a
      .num
        font-size: 28px
    img
      position absolute
      left: 50%
      top: 50%
      transform translate(-50%, -50%)
      z-index 90
    .cir-1
      position absolute
      left: 50%
      top: 50%
      width: 600px
      height: 600px
      transform translate(-50%, -35%) scale(0.7) rotateX(70deg)
      border: 4px solid #3f96e0
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
    .cir-2
      @extend .cir-1
      z-index 10
      background-color: rgba(5,26,77,0.8)
      border-color: transparent
      transform translate(-50%, -48%) scale(0.48) rotateX(0)
    .cir-3
      @extend .cir-1
      transform translate(-50%, -35%) scale(0.75) rotateX(70deg)
    .cir-4
      @extend .cir-1
      transform translate(-50%, -35%) scale(0.9) rotateX(70deg)
      border-color transparent
      box-shadow 0 0 70px rgba(2,176,240,1) inset
    .cir-5
      @extend .cir-1
      width: 50px
      height: 50px
      border: 1px dotted rgba(60,150,224,0.4)
      transform translate(-50%, 132%) scale(12) rotateX(70deg)
      animation rotate-cir-5 infinite 120s
    .cir-6
      @extend .cir-1
      width: 100px
      height: 100px
      border: 1px dashed rgba(60,150,224,0.5)
      transform translate(-50%, 42%) scale(7) rotateX(70deg)
      animation rotate-cir-6 infinite 120s
    .cir-7
      @extend .cir-1
      background-image: url(../../images/luohe_big_data/yuan01.png)
      width: 50px
      height: 50px
      -webkit-background-size: cover
      background-size: cover
      background-repeat: no-repeat
      animation rotate-cir-7 infinite 120s
      border-color transparent
    .cir-8
      @extend .cir-1
      width: 50px
      height: 50px
      background-image: url(../../images/luohe_big_data/yuan02.png)
      background-repeat: no-repeat
      border-color transparent
      animation rotate-cir-7 infinite 120s
.side-inner
  font-size: 16px
.table-container
  padding 30px
  color #fff
  .swiper-container
    border-left: 1px solid #093c95
  .cell
    height: 45px
    line-height: 45px
    flex: 1
    text-align center
    border-bottom: 1px solid #093c95
    border-right: 1px solid #093c95
  .table-title
    background-color: #093c95
.h100percent
  height: 100%
#pieChart

.progress-title
  color #fff
  padding: 0 10px
.bin-progress-bar
  padding-right: 0
.bin-progress-bar__outer
  background-color: #08276a
.bin-table td,.bin-table
  background-color: transparent
  border-bottom 1px solid #093c95
.bin-table th
  background-color: #093c95
  border-bottom 1px solid #093c95
.bin-table-cell
  color #fff
.bin-table:after, .bin-table:before
  background-color: #093c95
@keyframes rotate-cir-5
  0% { transform: translate(-50%, 132%) scale(12) rotateX(70deg) rotateZ(0)}
  50% { transform: translate(-50%, 132%) scale(12) rotateX(70deg) rotateZ(0.5turn)}
  100% { transform: translate(-50%, 132%) scale(12) rotateX(70deg) rotateZ(1turn)}
@keyframes rotate-cir-6
  0% { transform: translate(-50%, 42%) scale(7) rotateX(70deg) rotateZ(0)}
  50% { transform: translate(-50%, 42%) scale(7) rotateX(70deg) rotateZ(-0.5turn)}
  100% { transform: translate(-50%, 42%) scale(7) rotateX(70deg) rotateZ(-1turn)}
@keyframes rotate-cir-7
  0% { transform: translate(-50%, 140%) scale(18) rotateX(70deg) rotateZ(0)}
  50% { transform: translate(-50%, 140%) scale(18) rotateX(70deg) rotateZ(-0.5turn)}
  100% { transform: translate(-50%, 140%) scale(18) rotateX(70deg) rotateZ(-1turn)}

@keyframes rotate3d {
  0% {
    transform: translate(-50%, -50%) rotateX(65deg) rotateZ(0) scale(1.4)
  }
  100% {
    transform: translate(-50%, -50%) rotateX(65deg) rotateZ(1turn) scale(1.4)
  }
}

@keyframes rotate3dOpposite {
  0% {
    transform: rotateZ(0)
  }
  100% {
    transform: rotateZ(-1turn)
  }
}
.bin-progress__text
  color #fff
