<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../styles/reset.css">
  <link rel="stylesheet" href="../../js/lib/bin-ui/styles/common/flex.css">
  <link rel="stylesheet" href="../../js/lib/bin-ui/styles/index.css">
  <link rel="stylesheet" href="../../styles/luohe/data-0.css">
  <script src="../../js/lib/vue.min.js"></script>
  <script src="../../js/lib/hight-chart/highcharts.js"></script>
  <script src="../../js/lib/hight-chart/highcharts-zh_CN.js"></script>
  <script src="../../js/lib/hight-chart/highcharts-3d.js"></script>
  <script src="../../js/lib/hight-chart/exporting.js"></script>
  <script src="../../js/lib/bin-ui/bin-ui.umd.min.js"></script>
</head>
<body>
<div id="app" v-cloak>
  <div class="top-wrapper">
    <p>企业信用风险评价分析</p>
  </div>
  <div class="main-wrapper" flex="main:justify">
    <div class="panel" flex="dir:top main:justify">
      <div class="light-container" style="height: 32%;">
        <div class="title">企业信用风险评价分析系统</div>
        <div class="content">
          <div class="num-card" flex="cross:center">
            <div class="label">市场主体 <br>总 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数</div>
            <div class="num">
              <span v-for="(item, index) in mainTotal.split('')"
                    :key="index">{{item}}</span>
            </div>
          </div>
          <div class="lv-table">
            <div class="row" flex>
              <div class="col">信用等级</div>
              <div class="col">信用描述</div>
              <div class="col">企业数量</div>
              <div class="col">企业占比</div>
            </div>
            <div class="row"
                 flex
                 v-for="(item, index) in lvTableList"
                 :key="index">
              <div class="col" :style="'color:'+['#FF4D4F','#F89330','#00D0FF','#4CCBA2','#563CFF'][index]">
                {{item.lv}}
              </div>
              <div class="col">{{item.des}}</div>
              <div class="col">{{item.count}}</div>
              <div class="col">{{item.percent}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="light-container" style="height: 32%;">
        <div class="title">企业预警情况</div>
        <div class="content">
          <div id="smoothLineChart" style="height: 200px"></div>
        </div>
      </div>
      <div class="light-container" style="height: 32%;">
        <div class="title">纳入预警原因分析</div>
        <div class="content">
          <div id="barChart" style="height: 200px"></div>
        </div>
      </div>
    </div>
    <div class="panel" flex="dir:top main:justify">
      <div class="light-container" style="border: none;box-shadow: none">
        <div class="center-chart-container">
          <div id="pieChart" style="height: 452px;padding: 30px 0;"></div>
        </div>
      </div>
      <div class="light-container">
        <div class="title">企业信用风险评级排行榜</div>
        <div class="table-wrapper">
          <div class="table-container" style="height: 50px;">
            <div flex class="row" style="background-color: #121a3f; height: 50px;line-height: 50px;">
              <div class="col">企业名称</div>
              <div class="col">法定代表人</div>
              <div class="col">所属行业</div>
              <div class="col">注册资本</div>
              <div class="col">评级得分</div>
            </div>
          </div>
          <div class="table-container" style="height: 240px;">
            <b-scrollbar style="height:100%" ref="componentScrollBar">
              <div flex
                   class="row"
                   v-for="(item, index) in rankList"
                   :key="index">
                <div class="col">{{item.name}}</div>
                <div class="col">{{item.represent}}</div>
                <div class="col">{{item.trade}}</div>
                <div class="col">{{item.cash}}</div>
                <div class="col">{{item.score}}</div>
              </div>
            </b-scrollbar>
          </div>
        </div>
      </div>
    </div>
    <div class="panel" flex="dir:top main:justify">
      <div class="light-container">
        <div class="title">检查结果历史分析</div>
        <div class="content">
          <div id="horizonBarChart"></div>
        </div>
      </div>
      <div class="light-container" style="height: 372px;">
        <div class="title">失信执行人数量趋势分析</div>
        <div class="content">
          <div id="lineChart" style="height: 300px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
	new Vue({
		el: '#app',
		data: function () {
			return {
				mainTotal: '884848',
				lvTableList: [
					{lv: 'A级', des: '信用良好', count: '200', percent: '20%'},
					{lv: 'B级', des: '守信', count: '200', percent: '20%'},
					{lv: 'C级', des: '信用一般', count: '200', percent: '20%'},
					{lv: 'D级', des: '失信', count: '200', percent: '20%'},
					{lv: 'E级', des: '严重失信', count: '200', percent: '20%'},
				],
				rankList: [
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1},
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1},
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1},
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1},
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1},
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1},
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1},
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1},
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1},
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1},
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1},
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1},
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1},
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1},
					{name: '****投资发展股份有限公司', represent: '王国庆', trade: '食品行业', cash: '1000万元', score: 80.1}
				]
			}
		},
		mounted: function () {
			this.renderPieChart()
			this.renderBarChart()
			this.renderSmoothLineChart()
      this.renderHorizonBarChart()
      this.renderLineChart()
		},
		methods: {
			renderPieChart: function () {
				var chart = Highcharts.chart('pieChart', {
					chart: {
						backgroundColor: 'transparent',
						type: 'pie',
						options3d: {
							enabled: true,
							depth: 60,
							alpha: 10,
							beta: -10,
							viewDistance: 200
						},
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false,
					},
					legend: {
						align: 'right',
						borderRadius: 10,
						itemStyle: {
							"color": "#fff",
							"fontSize": "14px"
						},
						verticalAlign: 'top',
						layout: 'vertical',
						x: -30,
						y: 0
					},
					title: {
						text: ''
					},
					exporting: {
						enabled: false
					},
					credits: {
						enabled: false
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						series: {
							point: {
								events: {
									mouseOver: function () {
										this.hcEvents.selected = true
									},
									mouseOut: function () {
										this.hcEvents.selected = false
									}
								}
							},
							states: {
								hover: {
									enabled: true
								}
							}
						},
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							depth: 100,
							dataLabels: {
								enabled: true,
								color: '#fff',

								format: '{point.name}' + '{point.percentage:.1f}%'
							},
							showInLegend: true,
							slicedOffset: 30
						}
					},
					series: [{
						type: 'pie',
						name: '浏览器占比',
						// 数据可采用以下两种格式
						// [['a', 10], ['b', 20]]
						// [{
						//     name: '公示信息异常',
						//     y: 12.8
						// }],
						dataLabels: {
							style: {
								"fontSize": "14px"
							}
						},
						data: [
							['许可风险', 45],
							['投资设立企业异常', 26],
							['公示信息异常', 60],
							['严重违法失信行为', 60],
							['失信被执行人', 60],
							['诉讼被执行案件', 60],
							['投诉举报信息', 60],
						]
					}]
				});
			},
			renderBarChart: function () {
				var chart = Highcharts.chart('barChart', {
					chart: {
						type: 'column',
						backgroundColor: 'transparent',
					},
					colors: ['#02d0ff'],
					title: {
						text: ''
					},
					exporting: {
						enabled: false
					},
					credits: {
						enabled: false
					},
					legend: false,
					xAxis: {
						labels: {
							style: {
								color: '#576081'
							}
						},
						categories: [
							'原因1', '原因2', '原因3', '原因4', '原因5', '原因6', '原因7'
						],
						gridLineColor: '#576081',
						lineColor: '#576081',
						crosshair: true
					},
					yAxis: {
						labels: {
							style: {
								color: '#576081'
							}
						},
						min: 0,
						title: {
							text: ''
						},
						gridLineColor: '#576081',
						lineColor: '#576081',
						visible: true
					},
					tooltip: {
						// head + 每个 point + footer 拼接成完整的 table
						headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
						pointFormat: '<tr><td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
						footerFormat: '</table>',
						shared: true,
						useHTML: true
					},
					plotOptions: {
						column: {
							borderWidth: 0
						}
					},
					series: [{
						data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6]
					}]
				});
			},
			renderSmoothLineChart: function () {
				var chart = Highcharts.chart('smoothLineChart', {
					chart: {
						type: 'spline',
						backgroundColor: 'transparent',
					},
					title: {
						text: ''
					},
					colors: ['#4dcea8'],
					legend: false,
					exporting: {
						enabled: false
					},
					credits: {
						enabled: false
					},
					xAxis: {
						gridLineColor: '#576081',
						lineColor: '#576081',
						labels: {
							style: {
								color: '#576081'
							}
						},
						categories: ['1月', '2月', '3月', '4月', '5月', '6月',
							'7月', '8月', '9月', '10月', '11月', '12月']
					},
					yAxis: {
						labels: {
							style: {
								color: '#576081'
							}
						},
						gridLineColor: '#576081',
						lineColor: '#576081',
						title: {
							text: '数量',
							style: {color: '#576081'}
						}
					},
					tooltip: {
						// head + 每个 point + footer 拼接成完整的 table
						headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
						pointFormat: '<tr><td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
						footerFormat: '</table>',
						shared: true,
						useHTML: true
					},
					plotOptions: {
						spline: {
							marker: {
								radius: 4,
								lineColor: '#666666',
								lineWidth: 1
							}
						}
					},
					series: [{
						data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 24, 23.3, 18.3, 13.9, 9.6]
					}]
				});

			},
      renderHorizonBarChart: function () {
	      var chart = Highcharts.chart('horizonBarChart', {
		      chart: {
			      type: 'bar',
			      backgroundColor: 'transparent'
		      },
          colors: ['#ea405a', '#0ed0ff'],
		      exporting: {
			      enabled: false
		      },
		      credits: {
			      enabled: false
		      },
		      title: {
			      text: ''
		      },

		      xAxis: {
			      labels: {
				      style: {
					      color: '#576081'
				      }
			      },
			      categories: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
			      gridLineColor: '#576081',
			      lineColor: '#576081'
		      },
		      yAxis: {
		      	labels: {
				      style: {
					      color: '#576081'
				      }
			      },
			      gridLineColor: '#576081',
			      lineColor: '#576081',
			      title: {
				      text: ''
			      }
		      },
		      legend: {
			      /* 图例显示顺序反转
                 * 这是因为堆叠的顺序默认是反转的，可以设置
                 * yAxis.reversedStacks = false 来达到类似的效果
                 */
			      itemStyle: {
				      "color": "#fff",
				      "fontSize": "14px"
			      },
			      squareSymbol: true,
			      symbolRadius: 0,
            verticalAlign: 'top',
			      reversed: true
		      },
		      plotOptions: {
			      series: {
				      stacking: 'normal',
				      dataLabels: {
					      enabled: true,
					      align: 'center',
					      color: '#FFFFFF'
                // y:-10
				      },
			      }
		      },
		      series: [ {
			      name: '不合格',
			      borderColor: 'transparent',
			      data: [2, 2, 3, 2, 1, 3, 2, 3, 2, 1, 2, 1]
		      },{
			      name: '合格',
            borderColor: 'transparent',
			      data: [5, 3, 4, 3, 4, 7, 6, 4, 7, 4, 7, 2]
		      }]
	      });
      },
      renderLineChart: function () {
	      var chart = Highcharts.chart('lineChart', {
		      title: {
			      text: ''
		      },
          chart:{
	          backgroundColor: 'transparent'
          },
          colors:['#19cded','#db4161','#22d39b'],
          xAxis:{
	          categories: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
	          labels: {
		          style: {
			          color: '#576081'
		          }
	          },
	          gridLineColor: '#576081',
	          lineColor: '#576081'
          },
		      yAxis: {
			      title: {
				      text: ''
			      },
			      labels: {
				      style: {
					      color: '#576081'
				      }
			      },
			      gridLineColor: '#576081',
			      lineColor: '#576081'
		      },
		      exporting: {
			      enabled: false
		      },
		      credits: {
			      enabled: false
		      },
		      legend: {
			      verticalAlign: 'top',
			      align:'center',
            itemStyle: {
				      "color": "#fff",
				      "fontSize": "14px"
			      },
		      },
		      series: [{
			      name: '2016年',
			      data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
		      }, {
			      name: '2017年',
			      data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
		      }, {
			      name: '2018年',
			      data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
		      }]
	      });
      }
		}
	})
</script>
</body>
</html>
