<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../styles/reset.css">
  <link rel="stylesheet" href="../../js/lib/bin-ui/styles/common/flex.css">
  <link rel="stylesheet" href="../../js/lib/bin-ui/styles/index.css">
  <link rel="stylesheet" href="../../js/lib/element-ui@2.9.1/index.css">
  <link rel="stylesheet" href="../../styles/luohe/data-2.css">
  <script src="../../js/lib/vue.min.js"></script>
  <script src="../../js/lib/echarts/echarts.min.js"></script>
  <script src="../../js/lib/element-ui@2.9.1/index.js"></script>
  <script src="../../js/lib/bin-ui/bin-ui.umd.min.js"></script>
  <script src="../../js/lib/component/min/v-modal.min.js"></script>

</head>
<body>
<div id="app" v-cloak>
  <v-modal :rect="[20,80,1360,836]" :label="modalData.name"
           v-model="modalFlag" transition-name="fade-scale-move">
    <div class="modal-inner">
      <div class="modal-table">
        <div class="row" flex>
          <div class="col">名称</div>
          <div class="col">{{modalData.name}}</div>
          <div class="col">法定代表人</div>
          <div class="col">{{modalData.represent}}</div>
        </div>
        <div class="row" flex>
          <div class="col">注册资本</div>
          <div class="col">{{modalData.signFund}}</div>
          <div class="col">实际资本</div>
          <div class="col">{{modalData.realFund}}</div>
        </div>
        <div class="row" flex>
          <div class="col">开业时间</div>
          <div class="col">{{modalData.setDate}}</div>
          <div class="col">公司类型</div>
          <div class="col">{{modalData.comType}}</div>
        </div>
        <div class="row" flex>
          <div class="col">统一信用代码</div>
          <div class="col">{{modalData.code}}</div>
          <div class="col">工商注册号</div>
          <div class="col">{{modalData.signNum}}</div>
        </div>
        <div class="row" flex>
          <div class="col">地址</div>
          <div class="col">{{modalData.address}}</div>
          <div class="col">行业类型</div>
          <div class="col">{{modalData.tradeType}}</div>
        </div>
        <div class="row" flex>
          <div class="col">经营范围</div>
          <div class="col">{{modalData.scope}}</div>
          <div class="col">所属景区</div>
          <div class="col">{{modalData.area}}</div>
        </div>
        <div class="row" flex>
          <div class="col">信用等级</div>
          <div class="col">
            {{modalData.creditLv}}
            <i style="color: #f4c058;padding-left: 20px;">信用分：{{modalData.creditGrade}}</i>
          </div>
        </div>
      </div>
      <div class="modal-mid-title"><i>相关信息</i></div>
      <div class="btn-wrap">
        <span :class="btnFlag===index?'active':''"
             v-for="(item,index) in modalData.msg"
             @click="btnFlag = index"
             :key="index">
          {{item.name}}
        </span>
      </div>
      <div class="table-outer-container">
        <el-table
          ref="singleTable"
          :data="tableData"
          style="width: 100%">
          <el-table-column
            type="index"
            width="50">
          </el-table-column>
          <el-table-column
            property="date"
            label="日期"
            width="120">
          </el-table-column>
          <el-table-column
            property="name"
            label="姓名"
            width="120">
          </el-table-column>
          <el-table-column
            property="address"
            label="地址">
          </el-table-column>
        </el-table>
      </div>
      <div v-show="btnFlag===(modalData.msg.length-1)">
        <div id="modalChart" style="width: 600px;height: 300px;"></div>
      </div>
    </div>
  </v-modal>
  <div class="top-wrapper">
    <p>企业信用风险评价分析</p>
  </div>
  <div class="main-wrapper" flex="main:justify">
    <div class="panel" flex="dir:top main:justify" flex-box="1">
      <div class="top-search-container">
        <b-input search
                 placeholder="Enter something..."
                 class="input-item"
                 @on-search="search"></b-input>
      </div>
      <div class="light-container" flex-box="1" style="overflow: hidden;border-radius: 6px;">
        <div class="map-container">
          <div class="left-handle-container">
            <b-dropdown>
              <b-button type="primary">
                <span>{{selected}}</span>
                <b-icon name="ios-arrow-down"></b-icon>
              </b-button>
              <b-dropdown-menu slot="list">
                <b-dropdown-item v-for="(item, index) in deptList"
                                 :key="index">
                  <div @click="selectDropDown(item)">{{item}}</div>
                </b-dropdown-item>
              </b-dropdown-menu>
            </b-dropdown>
          </div>
          <div id="mapChart" style="width: 100%;height: calc(100% + 50px);"></div>
        </div>
      </div>
    </div>
    <div class="panel" flex="dir:top main:justify" style="width: 500px;margin-right: 0;">
      <div class="light-container h264px">
        <div class="title">食品类企业量化分级统计表</div>
        <div class="content">
          <div id="pieChart" class="simple-chart"></div>
        </div>
      </div>
      <div class="light-container h264px">
        <div class="title">食品行业抽检情况趋势分析</div>
        <div class="content">
          <div id="lineChart" class="simple-chart"></div>
        </div>
      </div>
      <div class="light-container h264px">
        <div class="title">新增食品企业数量分析</div>
        <div class="content">
          <div id="areaChart" class="simple-chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../../js/lib/echarts/extension/bmap.min.js"></script>
<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mf9v9D2wro0QuBfsuhPl8wltrwcFSZqX"></script>-->
<script src="../../js/lib/echarts/map/luohe.js"></script>
<script>
	// 简单处理深拷贝问题
	var deepClone = function (obj) {
		return JSON.parse(JSON.stringify(obj))
	}
	new Vue({
		el: '#app',
		data: function () {
			return {
				top: {
					msg: 8848,
					dept: 20
				},
				mid: {
					lic: 2,
					punish: 2,
					honor: 0,
					check: 0,
					random: 0,
					lose: 4,
					abnormal: 0,
					black: 0
				},
				selected: '选择部门',
				deptList: [
					'工商局',
					'土地局',
					'税务局',
					'铁路局'
				],
				deptName:'',
				modalFlag:true,
        btnFlag:0,
				modalData: {
					name: '********股份有限公司',
					represent: '于建阳',
					signFund: '7388万人民币',
					realFund: '7500万人民币',
					setDate: '2016-05-11',
					comType: '股份有限公司',
					code: '913700006137722062',
					signNum: '371082400002081',
					address: '正定**路',
					tradeType: '食品加工业',
					scope: '糕点类、饼干类、薯片类',
					area: '正定县城',
					creditLv: 'AAA',
					creditGrade: '1480',
					msg: [
						{
							name: "双公示信息",
							list: [
								{name: '行政相对人名称', value: '***公司'},
								{name: '行政相对人类别', value: '法人及非法人组织'},
								{name: '统一社会信用代码', value: '91440101MA59A5P606'},
								{name: '工商注册号', value: '工商注册号'},
								{name: '组织机构', value: 'MA59A5P60'},
								{name: '税务登记号', value: 'MA59A5P60'}
							]
						},
						{
							name: "信用承诺信息",
							list: [
								{name: '信用承诺信息', value: '***公司'},
								{name: '信用承诺信息', value: '法人及非法人组织'},
								{name: '信用承诺信息', value: '91440101MA59A5P606'},
								{name: '信用承诺信息', value: '工商注册号'},
								{name: '信用承诺信息', value: 'MA59A5P60'},
								{name: '信用承诺信息', value: 'MA59A5P60'}
							]
						},
						{
							name: "红黑名单",
							list: [
								{name: '红黑名单', value: '***公司'},
								{name: '红黑名单', value: '法人及非法人组织'},
								{name: '红黑名单', value: '91440101MA59A5P606'},
								{name: '红黑名单', value: '工商注册号'},
								{name: '红黑名单', value: 'MA59A5P60'},
								{name: '红黑名单', value: 'MA59A5P60'}
							]
						},
						{
							name: "执法信息",
							list: [
								{name: '执法信息', value: '***公司'},
								{name: '执法信息', value: '法人及非法人组织'},
								{name: '执法信息', value: '91440101MA59A5P606'},
								{name: '执法信息', value: '工商注册号'},
								{name: '执法信息', value: 'MA59A5P60'},
								{name: '执法信息', value: 'MA59A5P60'}
							]
						},
					]
				},
				tableData: [{
					date: '2016-05-02',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1518 弄'
				}, {
					date: '2016-05-04',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1517 弄'
				}, {
					date: '2016-05-01',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1519 弄'
				}, {
					date: '2016-05-03',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1516 弄'
				}],
			}
		},
		mounted: function () {
			var colorList = ['#563cff', '#e48831', '#f03e58', '#1fdf94', '#04c8ff', '#1167e2']
			// 假数据
			var barChartData1 = [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6]
			var barChartData2 = [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 180.0]
			// var areaChartData = ['2020-04', '2020-05', '2020-06', '2020-07', '2020-08', '2020-09', '2020-010']
			var ringChartData = [
				{value: 335, name: '金融'},
				{value: 310, name: '保险'},
				{value: 234, name: '建筑'},
				{value: 135, name: '环保'},
				{value: 200, name: '其他'}
			]
			var roseChartData = [
				{
					name: '红名单',
					list: ringChartData
				}, {
					name: '黑名单',
					list: ringChartData
				}
			]
			var xLabel0 = ['AAA', 'AA', 'A', 'B', 'C', 'D', 'E']
			var xLabel1 = ['公安局', '人社局', '民政局', '市场监督局', '交通局', '地税局', '交通局', '税务局']
			var xLabel2 = ['2020-04', '2020-05', '2020-06', '2020-07']

			this.renderChart([
				{fun: this.renderRingChart, id: 'pieChart', color: colorList, data: ringChartData},
				{fun: this.renderAreaChart, id: 'areaChart', color: '#07a8e3', data: [820, 932, 901, 934], xLabel: xLabel2},
				{fun: this.renderLineChart, id: 'lineChart', color: '#07a8e3', data: [820, 932, 901, 934], xLabel: xLabel2},
				{fun: this.renderMap, id: 'mapChart'}
			])
		},
		methods: {
			// renderChart方法统一调用render，
			// 参数使用arr包裹每个表格渲染方法，
			// 自动以fun属性作为基础渲染方法，
			// funList{fun,id,color,data...}
			// 并将其他key作为渲染方法的调用参数
			// example: renderChart(paramObj){
			//    ...
			// }
			// paramObj:{id,color,data...}
			renderChart: function (funList) {
				var _self = this
				funList.forEach(function (item) {
					var arr = []
					if (Object.prototype.toString.call(item).slice(8, -1) === 'Object') {
						var obj = {}
						var keys = Object.keys(item)
						keys.splice(keys.indexOf('fun'), 1)
						for (var i = 0; i < keys.length; i++) {
							obj[keys[i]] = item[keys[i]]
						}
						item.fun.call(_self, obj)
					} else {
						console.log('funList中存在非对象个体')
					}
				})
			},
			renderAreaChart: function (paramObj) {
				var myChart = echarts.init(document.getElementById(paramObj.id));
				var option = {
					color: paramObj.color,
					grid: {
						top: '20%',
						bottom: '20%'
					},
					xAxis: {
						type: 'category',
						boundaryGap: false,
						data: paramObj.xLabel,
						axisLine: {
							lineStyle: {
								color: '#5d6788'
							}
						}
					},
					legend: {
						top: 0,
						right: 0,
						data: ['风险企业信用预警'],
						textStyle: {
							color: '#fff'
						}
					},
					yAxis: {
						type: 'value',
						axisLine: {
							lineStyle: {
								color: '#5d6788'
							}
						},
						splitLine: {
							lineStyle: {
								color: '#5d6788'
							}
						}
					},
					series: [{
						name: '风险企业信用预警',
						data: paramObj.data,
						type: 'line',
						areaStyle: {
							color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
								offset: 0,
								color: paramObj.color
							}, {
								offset: 1,
								color: 'transparent'
							}])
						},
					}]
				};
				myChart.setOption(option)
			},
			renderRingChart: function (paramObj) {
				var myChart = echarts.init(document.getElementById(paramObj.id));
				var legendList = paramObj.data.map(item => item.name)
				var option = {
					color: paramObj.color,
					grid: {
						top: '10%',
						bottom: '20%'
					},
					tooltip: {
						trigger: 'item',
						formatter: '{a} <br/>{b}: {c} ({d}%)'
					},
					legend: {
						bottom: 10,
						data: legendList,
						textStyle: {
							color: '#fff'
						},
						icon: 'circle'
					},
					series: [
						{
							name: '访问来源',
							type: 'pie',
							center: ['50%', '40%'],
							avoidLabelOverlap: false,
							label: {
								show: true,
								color: '#fff'
							},
							data: paramObj.data
						}
					]
				};
				myChart.setOption(option);
			},
			renderLineChart: function (paramObj) {
				var myChart = echarts.init(document.getElementById(paramObj.id));
				var option = {
					tooltip: {
						trigger: 'axis'
					},
					grid: {
						top: '20%',
						bottom: '20%'
					},
					legend: {
						data: ['邮件营销', '联盟广告', '视频广告'],
            textStyle:{
							color: '#fff'
            }
					},
					xAxis: {
						type: 'category',
						boundaryGap: false,
						data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
						axisLine: {
							lineStyle: {
								color: '#5d6788'
							}
						}
					},
					yAxis: {
						type: 'value',
						axisLine: {
							lineStyle: {
								color: '#5d6788'
							}
						}
					},
					series: [
						{
							name: '邮件营销',
							type: 'line',
							stack: '总量',
							data: [120, 132, 101, 134, 90, 230, 210]
						},
						{
							name: '联盟广告',
							type: 'line',
							stack: '总量',
							data: [220, 182, 191, 234, 290, 330, 310]
						},
						{
							name: '视频广告',
							type: 'line',
							stack: '总量',
							data: [150, 232, 201, 154, 190, 330, 410]
						}
					]
				}
				myChart.setOption(option);
			},
			renderMap: function (paramObj) {
				// 模拟地图数据，请求后抽成动态作为paramObj内属性参数
				var _self = this
				var geoCoordMap = {
					'企业1': [113.93319, 34.00742],
					'企业2': [113.83319, 34.00742],
					'企业3': [113.73319, 34.01742],
					'企业4': [113.83319, 34.10742],
					'企业5': [114.13319, 34.20742]
				};
				var mockData = [
					{
						"name": "企业1",
						"rank": 1,
						"total": 1955,
						"value": 1983,
						"count": 2573,
						"data": 591,
						"s5": "14, 占比3%",
						"s4": "395, 占比90%",
						"s3": "22, 占比54%",
						"s2": "398, 占比69%",
						"s1": "85, 占比26%",
						"s0": "116, 占比41%",
						"list": {
							"xData": [
								"1月",
								"2月",
								"3月",
								"4月",
								"5月",
								"6月",
								"7月"
							],
							"numData": [
								7434,
								9572,
								13,
								1211,
								4118,
								337,
								2552
							],
							"valData": [
								981,
								734,
								210,
								1069,
								505,
								591,
								561
							]
						}
					},
					{
						"name": "企业2",
						"rank": 2,
						"total": 44,
						"value": 2782,
						"count": 484,
						"data": 327,
						"s5": "172, 占比1%",
						"s4": "482, 占比3%",
						"s3": "203, 占比32%",
						"s2": "140, 占比18%",
						"s1": "468, 占比77%",
						"s0": "176, 占比93%",
						"list": {
							"xData": [
								"1月",
								"2月",
								"3月",
								"4月",
								"5月",
								"6月",
								"7月"
							],
							"numData": [
								5080,
								2067,
								9029,
								6314,
								355,
								8892,
								9411
							],
							"valData": [
								21,
								1454,
								1115,
								1468,
								1433,
								435,
								1421
							]
						}
					},
					{
						"name": "企业3",
						"rank": 3,
						"total": 1784,
						"value": 217,
						"count": 1873,
						"data": 211,
						"s5": "318, 占比53%",
						"s4": "241, 占比52%",
						"s3": "59, 占比8%",
						"s2": "474, 占比78%",
						"s1": "282, 占比55%",
						"s0": "553, 占比29%",
						"list": {
							"xData": [
								"1月",
								"2月",
								"3月",
								"4月",
								"5月",
								"6月",
								"7月"
							],
							"numData": [
								3,
								1520,
								1977,
								4173,
								1443,
								2862,
								7531
							],
							"valData": [
								768,
								828,
								970,
								687,
								1175,
								581,
								1414
							]
						}
					},
					{
						"name": "企业4",
						"rank": 4,
						"total": 642,
						"value": 236,
						"count": 2233,
						"data": 314,
						"s5": "146, 占比56%",
						"s4": "625, 占比6%",
						"s3": "64, 占比54%",
						"s2": "604, 占比18%",
						"s1": "523, 占比47%",
						"s0": "282, 占比34%",
						"list": {
							"xData": [
								"1月",
								"2月",
								"3月",
								"4月",
								"5月",
								"6月",
								"7月"
							],
							"numData": [
								4372,
								7738,
								9353,
								2919,
								6412,
								2795,
								2038
							],
							"valData": [
								216,
								935,
								964,
								812,
								27,
								1237,
								625
							]
						}
					},
					{
						"name": "企业5",
						"rank": 5,
						"total": 1812,
						"value": 2243,
						"count": 28,
						"data": 300,
						"s5": "262, 占比81%",
						"s4": "235, 占比18%",
						"s3": "573, 占比92%",
						"s2": "420, 占比79%",
						"s1": "348, 占比48%",
						"s0": "55, 占比57%",
						"list": {
							"xData": [
								"1月",
								"2月",
								"3月",
								"4月",
								"5月",
								"6月",
								"7月"
							],
							"numData": [
								6964,
								2285,
								3026,
								610,
								5894,
								4397,
								107
							],
							"valData": [
								898,
								880,
								632,
								468,
								768,
								151,
								292
							]
						}
					}
				]

				// 数据转化
				function convertData(data) {
					var res = []
					for (var i = 0; i < data.length; i++) {
						var geoCoord = geoCoordMap[data[i].name]
						if (geoCoord) {
							res.push({
								name: data[i].name,
								value: geoCoord.concat(data[i].value),
								row: data[i]
							})
						}
					}
					return res
				}

				// 转化后数据
				var cData = convertData(mockData);
				// 散点配置
				var series = [
					{
						name: 'A',
						type: 'effectScatter',
						coordinateSystem: 'bmap',
						showEffectOn: 'render',
						symbolSize: function (v) { // 标准大小
							return 15 + v[0] / 2500
						},
						rippleEffect: {
							brushType: 'stroke',
							scale: 3
						},
						label: {
							normal: {
								formatter: '{b}',
								position: 'top',
								show: true
							}
						},
						data: cData.filter((item) => {
							if (item.row.rank === 1) {
								return item
							}
						})
					},
					{
						name: 'B',
						type: 'effectScatter',
						coordinateSystem: 'bmap',
						showEffectOn: 'render',
						symbolSize: function (v) { // 标准大小
							return 15 + v[0] / 2500
						},
						rippleEffect: {
							brushType: 'stroke',
							scale: 3
						},
						label: {
							normal: {
								formatter: '{b}',
								position: 'top',
								show: true
							}
						},
						data: cData.filter((item) => {
							if (item.row.rank === 2) {
								return item
							}
						})
					},
					{
						name: 'C',
						type: 'effectScatter',
						coordinateSystem: 'bmap',
						showEffectOn: 'render',
						symbolSize: function (v) { // 标准大小
							return 15 + v[0] / 2500
						},
						rippleEffect: {
							brushType: 'stroke',
							scale: 3
						},
						label: {
							normal: {
								formatter: '{b}',
								position: 'top',
								show: true
							}
						},
						data: cData.filter((item) => {
							if (item.row.rank === 3) {
								return item
							}
						})
					},
					{
						name: 'D',
						type: 'effectScatter',
						coordinateSystem: 'bmap',
						showEffectOn: 'render',
						symbolSize: function (v) { // 标准大小
							return 15 + v[0] / 2500
						},
						rippleEffect: {
							brushType: 'stroke',
							scale: 3
						},
						label: {
							normal: {
								formatter: '{b}',
								position: 'top',
								show: true
							}
						},
						data: cData.filter((item) => {
							if (item.row.rank === 4) {
								return item
							}
						})
					},
					{
						name: 'E',
						type: 'effectScatter',
						coordinateSystem: 'bmap',
						showEffectOn: 'render',
						symbolSize: function (v) { // 标准大小
							return 15 + v[0] / 2500
						},
						rippleEffect: {
							brushType: 'stroke',
							scale: 3
						},
						label: {
							normal: {
								formatter: '{b}',
								position: 'top',
								show: true
							}
						},
						data: cData.filter((item) => {
							if (item.row.rank === 5) {
								return item
							}
						})
					}
				];
				// 地图配置
				var option = {
					color: [
						'#3b9fff',
						'#38cbcb',
						'#fad336',
						'#e48831',
						'#f2647c',
					],
					legend: {
						textStyle: {
							color: '#fff'
						},
						left: '2%',
						bottom: '8%',
						orient: 'vertical',
						data: ['A', 'B', 'C', 'D', 'E'], icon: 'rect',
						formatter: function (name) {
							switch (name) {
								case 'A':
									return 'A级  守信'
								case 'B':
									return 'B级  基本守信'
								case 'C':
									return 'C级  轻微失信'
								case 'D':
									return 'D级  较重失信'
								case 'E':
									return 'E级  严重失信'
							}
							return word
						},
						selected: {
							'All': false
						},
						selector: ['all', 'inverse'],
						selectorLabel: {
							color: '#fff',
							borderColor: '#fff',
							fontSize: 14,
							padding: [2, 8]
						}
					},
					bmap: {
						center: [113.99319, 34.00742],
						zoom: 11,
						roam: false,
						mapStyle: {style: 'midnight'},
						enableMapClick: false
					},
					series: series
				};
				var chart = echarts.init(document.getElementById(paramObj.id));

				chart.on('click', function (params) {
					//深拷贝当前选中
					console.log(params);
					_self.modalFlag = true
				})
				chart.setOption(option);
			},
			zhenRowClick: function (row) {
				// 深拷贝当前选中行
				this.currentMap = deepClone(row)
				if (!this.mapPointChart) { // 如果不存在则初始化表格
					this.mapPointChart = echarts.init(document.getElementById('mapPointChart'))
				}
				var option = {
					color: ['#0b87ed', '#d20f60'],
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'cross'
						}
					},
					legend: {
						bottom: 0,
						icon: 'rect',
						itemWidth: 10,
						itemHeight: 10,
						textStyle: {
							color: '#7893ad'
						}
					},
					grid: {
						top: 30,
						right: 50,
						bottom: 50
					},
					xAxis: {
						type: 'category',
						axisLine: {
							show: true,
							lineStyle: {color: '#4b5472'}
						},
						axisLabel: {
							color: '#4b5472'
						},
						splitLine: {
							show: true,
							lineStyle: {color: '#222b45'}
						},
						data: this.currentMap.list.xData
					},
					yAxis: [
						{
							type: 'value',
							name: '数据量',
							splitNumber: 10,
							axisTick: {
								show: false
							},
							axisLabel: {
								color: '#4b5472'
							},
							axisLine: {
								show: true,
								lineStyle: {color: '#4b5472'}
							},
							splitLine: {
								show: true,
								lineStyle: {color: '#222b45'}
							}
						},
						{
							type: 'value',
							name: '信用指数',
							min: 0,
							max: 1600,
							splitNumber: 10,
							axisTick: {
								show: false
							},
							axisLine: {
								show: true,
								lineStyle: {color: '#424b69'}
							},
							splitLine: {
								show: false
							}
						}
					],
					series: [
						{
							name: '数据量',
							type: 'line',
							data: this.currentMap.list.numData,
							label: {
								show: true,
								position: 'top'
							}
						},
						{
							name: '信用指数',
							type: 'line',
							data: this.currentMap.list.valData,
							yAxisIndex: 1,
							label: {
								show: true,
								position: 'top'
							}
						}
					]
				}
				// 使用刚指定的配置项和数据显示图表。
				this.mapPointChart.setOption(option)
				this.mapPointModal = true
				// console.log(this.currentMap)
			},
			selectDropDown: function (item) {
				var _self = this
				_self.selected = item
				console.log('请求此参数：' + item);
				// 请求数据，重新渲染地图
				//_self.renderMap()
			},
			search: function (value) {
				console.log('请求此参数' + value);
				// axios.get('/user?ID='+value)
				// .then(function (response) {
				// 		console.log(response);
				// 	})
				// .catch(function (error) {
				// 			console.log(error);
				// });
			}
		}
	})
</script>
</body>
</html>
