#app
  background-color: #f5f5f5
  .app-wrapper
    width: 100%
    .count-wrapper
      display flex
      justify-content space-between
      padding: 16px 0
      .count-wrapper-item
        color #fff
        display flex
        justify-content space-between
        align-items: center
        background-color: #645efe
        width 22%
        padding 0 30px
        height: 120px
        -webkit-border-radius: 6px
        -moz-border-radius: 6px
        border-radius: 6px
        &:nth-child(2)
          background-color: #2ca5ff
        &:nth-child(3)
          background-color: #236cf8
        &:nth-child(3)
          background-color: #3dd1ed
        .inner-left
          p
            &:first-of-type
              padding 0 0 5px
            &:last-of-type
              padding 10px 0 0 0
    .card-wrapper
      background-color: #fff
      -webkit-border-radius: 6px
      -moz-border-radius: 6px
      border-radius: 6px
      margin-bottom: 20px
      .table
        height: 280px
        overflow-y auto
        .el-table__header-wrapper
          background-color: #f2f5fa
          .gutter
            background-color: #f2f5fa
#punishPie
  width 100px
  height: 100px
#rewardPie
  width 100px
  height: 100px
#executeLine
  width: 100%
  height: 300px
#analysisBar
  width 100%
  height 300px
#analysisPie
  width 100%
  height 300px
.num
  font-size: 22px
  font-weight: 700
[flex]
  display flex
