#app
  background-color: #f5f5f5
  color #333
  .app-wrapper
    width: 100%
    padding 0 20px
    .top-wrapper
      padding 10px 0 0
      span
        cursor pointer
        margin 0 10px
        line-height: 32px
        padding 2px 10px 4px
        text-align center
        -webkit-border-radius: 16px
        -moz-border-radius: 15px
        border-radius: 15px
        &.active
          background-color: #2170fd
          color: #fff;

    .count-wrapper
      display flex
      justify-content space-between
      padding: 16px 0
      .count-wrapper-item
        color #fff
        display flex
        justify-content space-between
        align-items: center
        background-color: #645efe
        width 22%
        padding 0 30px
        height: 120px
        -webkit-border-radius: 6px
        -moz-border-radius: 6px
        border-radius: 6px
        &:nth-child(2)
          background-color: #2ca5ff
        &:nth-child(3)
          background-color: #236cf8
        &:nth-child(3)
          background-color: #3dd1ed
        .inner-left
          p
            &:first-of-type
              padding 0 0 5px
            &:last-of-type
              padding 10px 0 0 0
    .card-wrapper
      background-color: #fff
      -webkit-border-radius: 6px
      -moz-border-radius: 6px
      border-radius: 6px
      margin: 10px 0
      padding 10px
      .card-title-bar
        font-size: 18px
        line-height: 40px
        height: 40px
        padding 5px 0
        width 100%
        position relative
        border-bottom: 2px solid #eee
        box-sizing content-box
      .table
        height: 280px
        overflow-y auto
        .el-table__header-wrapper
          background-color: #f2f5fa
          .gutter
            background-color: #f2f5fa
        .table-btn
          color #1f7af6
          cursor pointer
#punishPie
  width 100px
  height: 100px
#rewardPie
  width 100px
  height: 100px
#executeLine
  width: 100%
  height: 300px
  padding-top: 20px
#analysisBar
  width 100%
  height 300px
#analysisPie
  width 100%
  height 300px
.el-icon-s-data
  color #2170fd
  padding: 0 10px;
.num
  font-size: 22px
  font-weight: 700
[flex]
  display flex
