html,
body {
  height: 100%;
}
#app {
  height: 100%;
  min-width: 1200px;
  min-width: 860px;
  background-image: linear-gradient(to right, #3170fd, #044efb);
  overflow: hidden;
}
#app .inner-bg-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app .inner-bg-group .main-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 1200px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
#app .inner-bg-group .main-wrapper .logo {
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 0;
}
#app .inner-bg-group .main-wrapper .left {
  width: 600px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
#app .inner-bg-group .main-wrapper .left .model-container {
  position: relative;
  width: 600px;
  height: 600px;
  z-index: 4;
}
#app .inner-bg-group .main-wrapper .left .model-container canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#app .inner-bg-group .main-wrapper .left .model-container .cir-container {
  position: relative;
  width: 100%;
  height: 100%;
}
#app .inner-bg-group .main-wrapper .left .model-container .cir-container .cir {
  background-image: url("../images/daiyue/ball.png");
  background-repeat: no-repeat;
  width: 160px;
  height: 140px;
  color: #fff;
  font-size: 22px;
  text-align: center;
  line-height: 120px;
  z-index: 30;
  position: absolute;
}
#app .inner-bg-group .main-wrapper .left .model-container .cir-container .cir:nth-child(1) {
  top: 34%;
  left: -60px;
}
#app .inner-bg-group .main-wrapper .left .model-container .cir-container .cir:nth-child(2) {
  bottom: 20px;
  left: 8%;
}
#app .inner-bg-group .main-wrapper .left .model-container .cir-container .cir:nth-child(3) {
  right: -50px;
  top: 27%;
}
#app .inner-bg-group .main-wrapper .left .model-container .cir-container .cir:nth-child(4) {
  right: 4%;
  bottom: 30px;
}
#app .inner-bg-group .main-wrapper .right {
  position: relative;
  z-index: 40;
  width: 600px;
  height: 800px;
  display: flex;
  box-sizing: border-box;
  padding-left: 100px;
  justify-content: center;
  align-items: center;
}
#app .inner-bg-group .main-wrapper .right form {
  width: 400px;
  padding-top: 30px;
}
#app .inner-bg-group .main-wrapper .right form .captcha {
  display: block;
  width: 100px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
#app .plane-bg {
  position: absolute;
  bottom: 0;
  left: 200;
  width: 100%;
  height: auto;
  z-index: 1;
}
.bin-form-item-label {
  color: #fff;
}
