#app .inner-wrapper {
  width: 1200px;
  margin: 0 auto;
}
#app .header {
  min-width: 1200px;
}
#app .header .login-wrapper {
  background-color: #f9f9f9;
  color: #666;
  font-size: 14px;
}
#app .header .login-wrapper .inner-wrapper {
  display: flex;
  justify-content: space-between;
}
#app .header .login-wrapper .inner-wrapper .link-item {
  margin: 0 5px;
  transition: color 1s;
  line-height: 2;
}
#app .header .login-wrapper .inner-wrapper .link-item:hover {
  color: #0447a8;
}
#app .header .banner-wrapper {
  height: 260px;
  background-image: url("../images/lushan/top.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: auto 260px;
  background-size: auto 260px;
  position: relative;
}
#app .header .banner-wrapper .inner-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#app .header .banner-wrapper .inner-wrapper .search-wrapper {
  width: 1200px;
}
#app .header .banner-wrapper .inner-wrapper .search-wrapper .emblem {
  display: flex;
}
#app .header .banner-wrapper .inner-wrapper .search-wrapper .emblem img {
  height: 85px;
  width: auto;
  margin-top: 8px;
  margin-right: 8px;
}
#app .header .banner-wrapper .inner-wrapper .search-wrapper .location {
  padding-top: 20px;
  font-size: 28px;
  font-weight: 700;
  color: #d40101;
  text-shadow: 2px 2px #fff, -2px 2px #fff, 2px -2px #fff, -2px -2px #fff;
}
#app .header .banner-wrapper .inner-wrapper .search-wrapper .website {
  line-height: 36px;
  text-shadow: 1px 1px 2px #fff, -1px 1px 2px #fff, 1px -1px 2px #fff, -1px -1px 2px #fff;
  color: #333;
  font-weight: 700;
}
#app .header .nav-wrapper {
  background-color: #0447a8;
}
#app .header .nav-wrapper .inner-wrapper {
  display: flex;
}
#app .header .nav-wrapper .inner-wrapper .nav-item {
  flex: 1;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}
