#app .inner-wrapper {
  width: 1200px;
  margin: 0 auto;
}
#app .header .login-wrapper {
  background-color: #f9f9f9;
  color: #666;
  font-size: 14px;
}
#app .header .login-wrapper .inner-wrapper {
  display: flex;
  justify-content: space-between;
}
#app .header .login-wrapper .inner-wrapper .link-item {
  margin: 0 5px;
  transition: color 1s;
  line-height: 2;
}
#app .header .login-wrapper .inner-wrapper .link-item:hover {
  color: #e13a41;
}
#app .header .banner-wrapper {
  height: 740px;
  background-image: url("../images/wlx/top.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}
#app .header .nav-wrapper {
  background-color: #e13a41;
}
#app .header .nav-wrapper .inner-wrapper {
  display: flex;
}
#app .header .nav-wrapper .inner-wrapper .nav-item {
  flex: 1;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}
