$mainColor=#e13a41
$mainBgc=#f9f9f9
$mainBdc= #e2e2e2
#app
  .inner-wrapper
    width: 1200px
    margin 0 auto
  .header
    .login-wrapper
      background-color: #f9f9f9
      color #666
      font-size: 14px
      .inner-wrapper
        display flex
        justify-content space-between
        .link-item
          margin 0 5px
          transition color 1s
          line-height: 2
          &:hover
            color $mainColor
    .banner-wrapper
      height: 224px
      background-image: url(../images/top.jpg)
      background-repeat: no-repeat
      background-position: center center;
      -webkit-background-size: auto 224px
      background-size: auto 224px
    .nav-wrapper
      background-color: $mainColor
      .inner-wrapper
        display flex
        .nav-item
          flex 1
          font-size: 18px
          font-weight: 700
          color #fff
          padding 15px 0
          text-align center
