$mainColor=#e13a41
$mainBgc=#f9f9f9
$mainBdc= #e2e2e2
#app
  .inner-wrapper
    width: 1200px
    margin 0 auto
  .header
    min-width 1200px
    .login-wrapper
      background-color: #f9f9f9
      color #666
      font-size: 14px
      .inner-wrapper
        display flex
        justify-content space-between
        .link-item
          margin 0 5px
          transition color 1s
          line-height: 2
          &:hover
            color $mainColor
    .banner-wrapper
      height: 260px
      background-image: url(../images/lushan/top.jpg)
      background-repeat: no-repeat
      background-position: center center;
      -webkit-background-size: auto 260px
      background-size: auto 260px
      position relative
      .inner-wrapper
        position absolute
        left: 50%
        top: 50%
        transform translate(-50%, -50%)
        .search-wrapper
          width: 1200px
          .emblem
            display flex
            img
              height: 85px
              width: auto
              margin-top: 8px
              margin-right: 8px
          .location
            padding-top: 20px
            font-size: 28px
            font-weight: 700
            color #d40101
            text-shadow 2px 2px #fff, -2px 2px #fff, 2px -2px #fff, -2px -2px #fff
          .website
            line-height: 36px
            text-shadow 1px 1px 2px #fff, -1px 1px 2px #fff, 1px -1px 2px #fff, -1px -1px 2px #fff
            color #333
            font-weight: 700
    .nav-wrapper
      background-color: $mainColor
      .inner-wrapper
        display flex
        .nav-item
          flex 1
          font-size: 18px
          font-weight: 700
          color #fff
          padding 15px 0
          text-align center
