@import "luohe-font/iconfont.css"
[flex]
  display flex
[dir~='top']
  flex-direction column
[flex~='justify:between']
  justify-content space-between
[flex~='justify:around']
  justify-content space-around
[flex~='justify:center']
  justify-content center
[flex~='justify:end']
  justify-content flex-end
[flex~='align:center']
  align-items center
[flex~='wrap']
  flex-wrap wrap
[flex-box~='1']
  flex: 1
.ellipsis
  text-overflow:ellipsis
  overflow hidden
  white-space nowrap
#app
  min-width: 1400px
  box-sizing border-box
  padding 10px
  background-color: #f6f6f6
  .side-panel
    width 400px
  .middle-panel
    flex: 1
    margin 0 10px
    .top-bar
      .item
        color #fff
        padding 20px
        .count
          font-size: 20px
        .icon
          background-color: rgba(255,255,255,0.4)
          -webkit-border-radius: 50%
          -moz-border-radius: 50%
          border-radius: 50%
          display block
          width: 50px
          height: 50px
          line-height: 50px
          text-align center
          margin-right: 40px
          .iconfont
            font-size: 22px
        &:nth-child(1)
          background-color: #0d85ff
        &:nth-child(2)
          background-color: #2bcfcf
        &:nth-child(3)
          background-color: #499df8
  .box-card
    margin-bottom: 10px
    .table
      $bdc = #e0e0e0
      border-top: 1px solid $bdc
      border-left: 1px solid $bdc
      .row
        display flex
        line-height: 30px
        &:first-child
          background-color: #fafafa
          font-weight: 700
        .cell
          padding-left: 10px
          flex: 1
          border-right: 1px solid $bdc
          border-bottom: 1px solid $bdc
    .box
      .chart-container
        position relative
    .total
      text-align center
      position absolute
      top: 50%
      left: 50%
      z-index 100
      transform translate(-50%, -50%)
    .list
      .row
        i
          display inline-block
          line-height: 30px
        .cir
          -webkit-border-radius: 50%
          -moz-border-radius: 50%
          border-radius: 50%
          width: 10px
          height: 10px
          background-color: red
          margin-right: 10px
        .name
          width: 80px
        .percent
          width: 60px
          text-align right
        .count
          width: 50px
          text-align right
    .overview
      .banner
        text-align center
      .wrap
        .item
          $bdrs = 6px
          -webkit-border-radius: $bdrs
          -moz-border-radius: $bdrs
          border-radius: $bdrs
          width: 49%
          box-sizing border-box
          padding-top: 15px
          padding-bottom: 15px
          padding-left: 40px
          line-height: 26px
          margin-bottom: 10px
          .count
            font-size: 18px
            color #0d85ff
  [bold]
    font-weight: 700
