.container
  width: 100%
  line-height: 40px
  .title
    font-weight: 700
    padding-left: 40px
    font-size: 20px
    line-height: 60px
  .inner-title
    text-align center
    background-color: #f6faff
    font-weight: 700
    line-height: 50px
    margin-top: 20px;
  .inner
    .inner-wrapper
      overflow hidden
      width: 800px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      .content
        font-size: 14px
        min-height 80px
        color #383838
        padding-left: 180px
        padding-top: 20px
        .label
          padding 0 10px
        .content-bar
          padding 10px 0
        textarea
          vertical-align top
          display inline-block
          width: 600px
          padding: 0 6px
          line-height: 26px
          resize vertical
          -webkit-border-radius: 4px
          -moz-border-radius: 4px
          border-radius: 4px
        .required
          &::before
            display inline-block
            content '*'
            color #ff4d4f
        .default
          &::before
            display inline-block
            content '*'
            color transparent
      .img-icon
        position absolute
        padding 20px 60px 20px 40px
        height: 100%
        .img-bg
          background-color: #f6f6f6
          -webkit-border-radius: 10px
          -moz-border-radius: 10px
          border-radius: 10px
          padding 20px
          height: 100px
          width: 100px
          box-sizing border-box
          img
            width: 60px
            height: 60px
  .toggle
    height 50px
    line-height: 50px
    overflow hidden
    background-color: #fafafa
    a
      display inline-block
      text-align center
      width 200px
      &.active
        background-color: #1890ff
        color #fff

