$mainColor= #0449ae
$mainBgc=#f9f9f9
$mainBdc= #e2e2e2
.bin-radio-inner:after
  background-color: $mainColor
.bin-radio-checked .bin-radio-inner
  border-color: $mainColor

.mt15
  margin-top: 15px

.ellipsis
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;

.msg
  text-indent 4px

#app
  .main-heihe
    background-repeat: no-repeat
    -webkit-background-size: cover
    background-size: cover
    background-position: center center
    .inner-wrapper
      .slogan-banner
        width 1200px
        height: auto
      .search-wrapper
        height: 130px
        padding 20px
        background-color: $mainBgc
        .bin-radio-group
          width 600px
          margin 0 auto
          margin-bottom: 20px
          display flex
          justify-content space-between
        .search-input
          line-height: 40px
          margin 0 auto
          display flex
          justify-content space-around
          .btn
            color #fff
            background-color: $mainColor
            cursor pointer
            i
              font-weight: 700
              line-height: 40px
              padding 0 20px
              font-size: 20px
              box-sizing border-box

          .input-container
            flex 1
            input
              line-height: 40px
              height: 40px
              box-sizing border-box
              width: 100%
              outline none
              outline-color:transparent;
              border-top: $mainBdc
              border-left: $mainBdc
              border-right: $mainBdc
              border-bottom: $mainBdc
              border-width:1px
              padding 10px
      .banner-wrapper
        overflow hidden
        position relative
        .swiper-wrapper
          height: 108px
        .swiper-pagination
          text-align right
          padding-right: 20px
          right 0
        .my-bullet
          background-color: $mainColor
          color #fff
          cursor pointer
          margin 0 5px
          text-align center
          width: 16px
          height: 16px
          line-height: 16px
          display inline-block
        .my-bullet-active
          background-color: #fff
          color $mainColor
      .banner-content-wrapper
        width: 100%
        display flex
        justify-content space-between
        .left
          width: 590px
          .swiper-container-1
            overflow hidden
            position relative
            .swiper-pagination
              text-align right
              padding-right: 10px
              .swiper-pagination-bullet
                background-color: #fff
                border: 1px solid #fff
                opacity .6
                height: 10px
                width: 10px
              .swiper-pagination-bullet-active
                background-color: #008dff
                border: 1px solid #008dff
                opacity 1
            .swiper-wrapper
              width: 590px
              .swiper-slide
                width: 590px
                height: 340px
                overflow hidden
                position relative
                p
                  position absolute
                  bottom 0
                  box-sizing border-box
                  width 590px
                  padding-right: 100px
                  padding-left: 20px
                  height: 40px
                  background-color: rgba(0,0,0,.4)
                  color #fff
                  font-size: 16px
                  line-height: 40px
                img
                  width: 590px
                  height: 340px
        .right
          width: 590px
          .r-top
            display flex
            justify-content space-between
            border-bottom: 2px solid #eee
            .btns
              vertical-align middle
              display flex
              cursor pointer
              padding-top: 10px
              width: 100%
              .toggle-btn
                display flex
                width: 100%
                .btn
                  height: 50px
                  line-height: 50px
                  width 25%
                  font-size: 18px
                  text-align center
                  color #959799
                  background-color: #f3f6fb
                  transition color .6s, background-color .6s
                .active
                  border-bottom: 4px solid $mainColor
                  color $mainColor
                  font-weight: 700
          .r-bot
            .news
              .new-abstract
                .title
                  display block
                  font-size: 18px
                  color #333
                  height: 80px
                  line-height: 30px;
                  font-weight: 700
                  cursor pointer
                  padding 15px 10px
                  border-bottom: 1px solid #e0e2e4
                  .abstract-btn
                    float right
                    color #959799
                    font-size: 16px
                    font-weight: 400
                    padding-right: 10px
                .content
                  line-height: 22px
                  text-indent 2em
                  font-size: 14px
                  color #666
                  padding 0 10px 5px
                  border-bottom: 1px solid #eee
              .list
                padding-top: 10px
                .item
                  position relative
                  a
                    line-height: 36px
                    display flex
                    justify-content space-between
                    font-size: 14px
                    color #666
                    padding 0 10px
                    .msg
                      width 450px
                    .time
                      width 72px
                      color #959799
      .mid-banner-top
        display flex
        justify-content space-between
        border-bottom: 2px solid #eee
        .title
          color $mainColor
          font-size: 18px
          font-weight: 700
          line-height: 40px
          position relative
          cursor pointer
          padding 0 30px
          &::after
            content ''
            display inline-block
            height: 2px
            width 100%
            position: absolute
            bottom -2px
            left 0
            background-color: $mainColor
          &::before
            content ''
            display inline-block
            border: 8px solid transparent
            border-top-color: $mainColor
            position: absolute
            bottom -18px
            left 50%
            transform translateX(-50%)
          img
            vertical-align middle
          i
            vertical-align middle
            font-weight: 700
        .btns
          vertical-align middle
          display flex
          cursor pointer
          padding-top: 10px
          .more
            height: 24px
            line-height: 24px
            padding 0 20px
            color #9e9e9e
      .mid-banner-links
        display flex
        justify-content space-between
        height: 70px
        .link-square
          flex-wrap wrap
          border: 1px solid #dfdfdf
          -webkit-border-radius: 6px
          -moz-border-radius: 6px
          border-radius: 6px
          position relative
          padding-left: 30px
          margin-left: 24px
          margin-right: 0
          top: 20px
          display block
          height: 60px
          width: 250px
          box-sizing border-box
          font-size: 18px
          color: #666
          text-align right
          &:hover
            .animate-icon
              animation iconRoate 2s
          .animate-icon
            position absolute
            top 10px
            left: -30px
            background-color: #fff;
            display inline-block
            height: 36px
            width: 60px
            text-align center
            img
              position absolute
              top -70%
              left: -22%
              transform translate(50%, 50%)
              width 42px
              height: 42px
          .link-name
            padding-right: 30px
            line-height: 60px
            font-weight: 700
            letter-spacing 6px
      .mid-banner-bot
        .news
          .list
            padding-top: 10px
            .item
              position relative
              &::before
                content ''
                display inline-block
                height: 4px
                width: 4px
                background-color: $mainColor
                vertical-align sub
                position absolute
                left: 0
                top: 50%
                transform translateY(-50%)
              a
                line-height: 35px
                display flex
                justify-content space-between
                font-size: 14px
                color #666
                padding 0 10px
                .msg
                  width 400px
                .time
                  width 80px
    .bisect
      display flex
      justify-content space-between
      .left
        width: 650px
      .right
        width: 530px
        position relative
        padding-top: 40px
        .title
          background-color: $mainColor
          color #fff
          font-weight: 700
          font-size: 20px
          position absolute
          top 18px
          left: 50%
          transform translateX(-50%)
          padding 10px 50px
          -webkit-border-radius: 25px
          -moz-border-radius: 25px
          border-radius: 25px

        .services
          border: 1px solid $mainBdc
          padding-top: 20px
          display flex
          flex-wrap wrap
          .service-item
            display block
            position relative
            width: 260px
            height: 86px
            img
              position absolute
              line-height: 100px
              top 50%
              transform translateY(-50%)
              left: 10px
              z-index 10
            .title-tip
              padding-top: 5px
              position absolute
              top 50%
              left: 20px
              transform translateY(-50%)
              display inline-block
              background-color: #f3f3f3
              height: 50px
              width: 230px
              -webkit-border-radius: 25px
              -moz-border-radius: 25px
              border-radius: 25px
              padding-left: 80px
              box-sizing border-box
              line-height: 20px
              color #666
              p
                position absolute
                top 50%
                transform translateY(-50%)
    .banner-bar
      height: 200px
      background-color: #f9f9f9
      padding 30px 0
      .swiper-inner-2
        position: relative;
        padding: 0 60px;
        width: 1320px;
        left: 50%;
        transform: translateX(-50%);
      .swiper-container-2
        .slide-inner
          position relative
          img
            display block
          p
            position absolute
            bottom: 0
            left: 0
            background-color: rgba(0,0,0,.2)
            color #fff
            width: 100%
            height: 30px
            line-height: 30px
            transition background-color ease-in-out .2s
          &:hover
            p
              background-color: rgba(0,0,0,.6)
      .banner-wrapper
        width: 1200px
        margin 0 auto
        overflow hidden
        .swiper-wrapper
          .swiper-slide
            text-align center
            img
              margin-bottom: 5px
            p
              text-align center
      .swiper-container-3
        width: 1000px
        margin-right: 35px;
        margin-top: 17px;
    .special-swiper
      width: 1200px
      margin 20px auto
      padding: 0
      height: 169px
      .special-swiper-inner
        display flex
        justify-content space-around
        position relative
    .main-contents
      display flex
      justify-content space-between
      height: 500px
      .contents-left
        width 1200px
        display flex
        flex-wrap wrap
        justify-content space-between
        .slim-contents-container
          width: 225px
          .title
            text-align center
            font-size: 18px
            font-weight: 700
            line-height: 40px;
            color #fff
            background-color: $mainColor
          .website-links
            display flex
            flex-direction column
            justify-content space-around
            height: 280px
            padding 10px 0
            img
              display block
          .dpart-table
            height: 280px
            padding 10px 0
            table
              width: 100%
              th, td
                line-height: 32px
                text-align center
                color #6a6b6d
              tr:nth-child(odd)
                background-color: #f4f8fb
        .contents-container
          width 38%
          padding-top: 10px
          .l-top
            display flex
            justify-content space-between
            border-bottom: 2px solid #eee
            background-image: url(../images/heihe/title_bg.png)
            background-repeat: no-repeat
            .title
              color #fff
              font-size: 18px
              font-weight: 700
              line-height: 40px
              position relative
              cursor pointer
              padding 0 30px
              text-align center
              width: 140px
            .btns
              vertical-align middle
              display flex
              cursor pointer
              padding-top: 10px
              .more
                height: 24px
                line-height: 24px
                padding 0 20px
                color #9e9e9e
          .l-bot
            .news
              .new-abstract
                .title
                  font-size: 18px
                  color #333
                  line-height: 50px;
                  font-weight: 700
                  cursor pointer
                  text-align center
                  padding 0 10px
                .content
                  line-height: 22px
                  text-indent 2em
                  font-size: 14px
                  color #666
                  padding 0 10px 5px
                  border-bottom: 1px solid #eee
              .list
                padding-top: 10px
                .item
                  position relative
                  a
                    line-height: 42px
                    display flex
                    justify-content space-between
                    font-size: 14px
                    color #666
                    .msg
                      width 76%
                    .time
                      color #9d9d9d
                      width 72px
      .contents-right
        width 280px
        .list
          height: 480px
          display flex
          flex-direction column-reverse
          justify-content space-around
          .item
            height: 60px
            -webkit-border-radius: 4px
            -moz-border-radius: 4px
            border-radius: 4px
            border: 1px solid #dfdfdf
            padding-left: 20px
            line-height: 60px
            img,i
              vertical-align middle
            .iconfont
              padding-right: 10px
              float right
              line-height: 60px
              vertical-align middle
            .ellipsis
              width 160px
    .departs-wrapper
      background-color: #f6f6f6
      padding-top: 30px
      .title
        font-size: 20px
        font-weight: 700
        color #333
        border-bottom: 4px solid $mainBdc
        .title-content
          line-height: 40px
          font-weight: 700
          position relative
          &::after
            content ''
            height 4px
            background-color: $mainColor
            width: 100%
            position absolute
            left: 0
            bottom: -13px
      .departs-list
        display flex
        padding-top: 20px
        .depart
          width 150px

    .link-area
      width 1200px
      margin 30px auto 0
      display flex
      justify-content space-between
      .link-area-l
        width: 650px
        display flex
        flex-wrap wrap
        justify-content space-between
        a
          display block
          width 48%
          img
            width: 100%
            display block
            margin-bottom: 24px
      .link-area-r
        width 530px
        display flex
        justify-content space-between
        a
          display block
          width: 32%

@keyframes iconRoate
  0% {
    transform rotate(0deg)
  }
  25% {
    transform rotate(-30deg)
  }
  75% {
    transform rotate(30deg)
  }
  100% {
    transform rotate(0deg)
  }
