.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
[flex] {
  display: flex;
}
[flex~="between"] {
  justify-content: space-between;
}
[flex~="around"] {
  justify-content: space-around;
}
[flex~="column"] {
  flex-direction: column;
}
[flex~="wrap"] {
  flex-wrap: wrap;
}
.main-wrapper {
  width: 1200px;
  margin: 20px auto;
}
.main-wrapper .middle-title {
  position: relative;
  margin: 10px 0;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-align: center;
}
.main-wrapper .middle-title i {
  position: relative;
  z-index: 2;
  width: 110px;
  display: inline-block;
  background-image: url("../images/qufu/title_red.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
}
.main-wrapper .middle-title::after {
  z-index: 1;
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  display: block;
  background-color: #df4443;
}
.main-wrapper .swiper-pagination-bullets {
  width: auto;
  right: 10px;
  left: auto;
}
.main-wrapper .font-color-gray {
  color: #9c9c9c;
}
.main-wrapper .w590px {
  width: 590px;
}
.main-wrapper .news-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 340px;
}
.main-wrapper .news-wrapper .swiper-slide .new-title {
  position: absolute;
  line-height: 36px;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.533);
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 80px;
}
.main-wrapper .news-wrapper .news-content .btns-wrapper {
  background-color: #f3f6fb;
}
.main-wrapper .news-wrapper .news-content .btns-wrapper .btn {
  display: block;
  width: 144px;
  height: 40px;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.main-wrapper .news-wrapper .news-content .btns-wrapper .active {
  background-image: url("../images/qufu/news_bg.jpg");
  color: #fff;
}
.main-wrapper .news-wrapper .news-content .btns-wrapper .default {
  color: #818381;
}
.main-wrapper .news-wrapper .news-content .contents-wrapper {
  padding: 10px;
}
.main-wrapper .news-wrapper .news-content .contents-wrapper .new-item {
  font-size: 14px;
}
.main-wrapper .news-wrapper .news-content .contents-wrapper .new-item .item-more {
  color: #9c9c9c;
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  line-height: 30px;
  margin-bottom: 10px;
}
.main-wrapper .news-wrapper .news-content .contents-wrapper .new-item .item-date {
  width: 160px;
  padding-left: 44px;
}
.main-wrapper .news-wrapper .news-content .contents-wrapper .new-item:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid rgba(156,156,156,0.267);
  margin-bottom: 10px;
}
.main-wrapper .news-wrapper .news-content .contents-wrapper .new-item:nth-child(1) .item-title {
  line-height: 50px;
}
.main-wrapper .news-wrapper .news-content .contents-wrapper .new-item:nth-child(n+1) {
  line-height: 36px;
}
.main-wrapper .banner-wrapper .banner-item {
  flex: 1;
  padding: 30px 10px;
}
.main-wrapper .banner-wrapper .banner-item:first-child {
  padding-left: 0;
}
.main-wrapper .banner-wrapper .banner-item:last-child {
  padding-right: 0;
}
.main-wrapper .banner-wrapper .banner-item a {
  display: block;
}
.main-wrapper .banner-wrapper .banner-item img {
  width: 180px;
}
.main-wrapper .banner-wrapper .banner-item .title {
  text-align: center;
  line-height: 50px;
}
.main-wrapper .layout-wrapper .top-bar {
  position: relative;
}
.main-wrapper .layout-wrapper .top-bar::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  height: 1px;
  width: 100%;
  background-color: #df4443;
}
.main-wrapper .layout-wrapper .top-bar .btn {
  width: 108px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  display: block;
  cursor: pointer;
  margin-right: 20px;
  background-color: #fff;
}
.main-wrapper .layout-wrapper .top-bar .btn.active {
  color: #fff;
  background-image: url("../images/qufu/title_red.png");
}
.main-wrapper .layout-wrapper .top-bar .btn.default {
  background-image: url("../images/qufu/title_yellow.png");
}
.main-wrapper .layout-wrapper .top-bar .more-btn {
  position: absolute;
  right: 0;
  top: 50%;
  padding-left: 20px;
  background-color: #fff;
  transform: translateY(-50%);
}
.main-wrapper .layout-wrapper .layout-inner {
  width: 100%;
}
.main-wrapper .layout-wrapper .layout-inner .half-wrapper {
  width: 100%;
  margin: 20px 0;
}
.main-wrapper .layout-wrapper .layout-inner .half-wrapper .half {
  width: 48%;
}
.main-wrapper .layout-wrapper .layout-inner .half-wrapper .half .content-list {
  margin: 10px 0;
}
.main-wrapper .layout-wrapper .layout-inner .half-wrapper .half .content-list .content-list-item {
  line-height: 34px;
  font-size: 14px;
}
.main-wrapper .layout-wrapper .layout-inner .half-wrapper .half .content-list .content-info {
  width: 70%;
}
.main-wrapper .layout-wrapper .credit-build .credit-links {
  height: 520px;
}
.main-wrapper .layout-wrapper .dept-list li {
  line-height: 34px;
}
.main-wrapper .layout-wrapper .dept-list li.table-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  background-color: #f7f6f4;
}
.main-wrapper .layout-wrapper .dept-list li:nth-child(even) {
  background-color: #f6f7fb;
}
.main-wrapper .layout-wrapper .dept-list li span {
  display: block;
  width: 50%;
  text-align: center;
}
.main-wrapper .link-wrap .left {
  width: 55%;
}
.main-wrapper .link-wrap .left a {
  height: 100px;
}
.main-wrapper .link-wrap .right {
  width: 45%;
}
.main-wrapper .link-wrap a {
  display: block;
  height: 50%;
  margin-bottom: 6px;
}
.full-wrapper {
  background-color: #fafafa;
  padding: 20px 0 5px;
}
.full-wrapper .banner-wrapper {
  width: 1200px;
  margin: 0 auto;
}
.full-wrapper .banner-wrapper .title {
  text-align: center;
  line-height: 40px;
}
.full-wrapper .inner-title {
  color: #df4442;
  line-height: 60px;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #dcdcdc;
}
.full-wrapper .full-inner-wrapper {
  margin: 0 auto;
  width: 1200px;
}
.full-wrapper .friend-link {
  padding: 10px 0;
}
.full-wrapper .friend-link img {
  width: 150px;
}
.footer-wrapper {
  padding: 30px;
}
.footer-wrapper p {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
}
