#app
  .main
    width 1200px
    margin 0 auto
    padding 20px
    .bread-crumb
      line-height: 40px
      &.active
        color #00addd
    .box
      .sub-title
        display flex
        background-color: #f8f8f8
        .red-tip
          display block
          width 4px
          height: 40px
          background-color: #e22323
        .red-font
          line-height: 40px
          font-size: 18px
          color #e22323
          padding-left: 20px
      .links
        display flex
        flex-wrap wrap
        margin-bottom: 20px
        .link-btn
          margin 15px 10px 0
          display block
          border: 1px solid #e2e2e2
          color #333
          padding 4px 16px
          -webkit-border-radius: 4px
          -moz-border-radius: 4px
          border-radius: 4px

