.container {
  width: 100%;
  line-height: 40px;
}
.container .toggle {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  background-color: #fafafa;
}
.container .toggle a {
  display: inline-block;
  text-align: center;
  width: 200px;
}
.container .toggle a.active {
  background-color: #1890ff;
  color: #fff;
}
.container .title {
  font-weight: 700;
  padding-left: 40px;
  font-size: 20px;
  line-height: 60px;
}
.container .inner-title {
  text-align: center;
  background-color: #f6faff;
  font-weight: 700;
  line-height: 50px;
  margin-top: 20px;
}
.container .inner .inner-wrapper {
  overflow: hidden;
  width: 800px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.container .inner .inner-wrapper .table {
  width: 100%;
  line-height: 40px;
  font-size: 14px;
}
.container .inner .inner-wrapper .table th {
  font-weight: 400;
  background-color: #fafafa;
  text-align: center;
}
.container .inner .inner-wrapper .table .toggle-btn {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #bebebe;
  cursor: pointer;
}
.container .inner .inner-wrapper .table .toggle-btn .toggle-flag {
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #bebebe;
  transition: all ease-in-out 0.4s;
}
.container .inner .inner-wrapper .table .toggle-btn.on {
  background-color: #1f7af6;
}
.container .inner .inner-wrapper .table .toggle-btn.on .toggle-flag {
  margin-left: 20px;
  border: 1px solid #1f7af6;
}
