.container
  width: 100%
  line-height: 40px

  .toggle
    height 50px
    line-height: 50px
    overflow hidden
    background-color: #fafafa
    a
      display inline-block
      text-align center
      width 200px
      &.active
        background-color: #1890ff
        color #fff
  .title
    font-weight: 700
    padding-left: 40px
    font-size: 20px
    line-height: 60px
  .inner-title
    text-align center
    background-color: #f6faff
    font-weight: 700
    line-height: 50px
    margin-top: 20px;
  .inner
    .inner-wrapper
      overflow hidden
      width: 800px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      .table
        width: 100%
        line-height: 40px
        font-size: 14px
        th
          font-weight: 400
          background-color: #fafafa
          text-align center
        .toggle-btn
          display inline-block
          vertical-align: middle;
          height: 20px
          width: 40px
          -webkit-border-radius: 10px
          -moz-border-radius: 10px
          border-radius: 10px
          background-color: #bebebe
          cursor pointer
          .toggle-flag
            display inline-block
            vertical-align top
            -webkit-border-radius: 10px
            -moz-border-radius: 10px
            border-radius: 10px
            height: 20px
            width: 20px
            background-color: #fff
            border: 1px solid #bebebe
            transition all ease-in-out .4s
          &.on
            background-color: #1f7af6
            .toggle-flag
              margin-left: 20px
              border: 1px solid #1f7af6

