.bdrs4,
#app .square,
#app .square .square-chart .card-divide-30,
#app .square .square-chart .card-divide-22 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#app {
  min-width: 1000px;
  padding: 15px;
  background-color: #f5f5f5;
}
#app .divide {
  width: 100%;
}
#app .divide .float-left {
  float: left;
}
#app .divide .float-right {
  float: right;
}
#app .divide .width-58percent {
  width: 58%;
}
#app .divide .width-40percent {
  width: 40%;
}
#app .square {
  background-color: #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#app .square select {
  margin-top: 8px;
  height: 30px;
  width: 100%;
}
#app .square .filter-bar {
  background-color: #f5f5f5;
  padding: 5px 25px;
}
#app .square .filter-bar .filter-select {
  padding-right: 20px;
  display: inline-block;
  width: 120px;
}
#app .square .filter-bar .filter-label {
  line-height: 48px;
}
#app .square .legend-bar .color-tip {
  margin-left: 10px;
  display: inline-block;
  height: 12px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#app .square .square-title {
  padding: 10px 0 0;
}
#app .square .square-title i {
  padding-left: 15px;
  line-height: 40px;
  border-left: 4px solid #2c8cf0;
}
#app .square .square-title .right-select {
  float: right;
  margin-right: 20px;
  width: 160px;
}
#app .square .square-chart {
  padding: 10px 25px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
}
#app .square .square-chart .pie-chart {
  display: inline-block;
  width: 33%;
  box-sizing: border-box;
}
#app .square .square-chart .pie-chart .chart-title {
  text-align: center;
  font-size: 20px;
}
#app .square .square-chart .pie-chart .x-center {
  margin: 0 auto;
}
#app .square .square-chart .card-divide-30 {
  width: 30%;
}
#app .square .square-chart .card-divide-22 {
  width: 22%;
}
#app .square .square-chart .card-item {
  height: 90px;
  box-sizing: border-box;
  padding: 16px 24px;
  line-height: 28px;
}
#app .square .square-chart .card-item .icon {
  float: left;
  background-color: rgba(0,0,0,0.1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
}
#app .square .square-chart .card-item .icon img {
  display: block;
  height: 40px;
  width: auto;
}
#app .square .square-chart .card-item .count {
  float: right;
  position: relative;
}
#app .square .square-chart .card-item .count p {
  text-align: right;
  color: #fff;
}
#app .square .square-chart .card-item .count p:first-child {
  font-size: 14px;
}
#app .square .square-chart .card-item .count p:last-child {
  font-size: 24px;
  line-height: 38px;
}
#app .square .square-chart .card-item .count::after {
  content: '';
  height: 1px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 28px;
}
#app .square .square-inner {
  width: 100%;
}
#app .square .square-inner .chart-item {
  width: 43%;
  float: left;
}
#app .square .square-inner .perch {
  width: 2%;
  height: 100%;
  float: left;
}
#app .square .square-inner .grade-bar {
  width: 10%;
  float: left;
  margin-top: 14px;
  padding: 4px 10px;
  background-color: #f3f7fa;
}
#app .square .square-inner .grade-bar p {
  line-height: 29px;
  text-align: center;
  border-bottom: 1px solid #d6d8d9;
}
#app .square .square-inner .grade-bar p:last-child {
  border-bottom: none;
}
#app .square .legend-bar {
  text-align: center;
}
#app .bin-table th {
  height: 50px;
}
#app .bin-table td {
  height: 46px;
}
#app .bin-table-wrapper {
  border: none;
}
#app .bin-table:after {
  width: 0;
}
.bgc-blue-dark {
  background-color: #679cfa;
}
.bgc-blue-light {
  background-color: #65b9f9;
}
.bgc-orange {
  background-color: #feaa6c;
}
.bgc-green-light {
  background-color: #5ae0c5;
}
.bgc-green-dark {
  background-color: #6bdbe6;
}
.bgc-gray {
  background-color: #8ba0bf;
}
.clear-both:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear-both {
  zoom: 1;
}
