px2rem(name, px) {
  {name}: (px / 16)rem
}
i{
  font-style normal
}
#app
  background-color: #F5F5F5

  header
    background-image: url(../images/mobile/top_bg.png)
    -webkit-webkit-background-size: 18rem 8.7rem
    -moz-webkit-background-size: 18rem 8.7rem
    -ms-webkit-background-size: 18rem 8.7rem
    -o-webkit-background-size: 18rem 8.7rem
    -khtml-webkit-background-size: 18rem 8.7rem
    webkit-background-size: 18rem 8.7rem
    background-size: 18rem 8.7rem
    height 8.7rem;

    .web-title
      padding-top 0.9375rem

      .emblem
        height 1.4rem
        display inline-block
        margin-left 0.7rem

      .title-text
        display inline-block

        > p
          font-size 0.8125rem
          font-family "SimSun"
          font-weight 700
          color #fff

          &:nth-child(2)
            font-size 0.4rem
            font-weight 300
            font-family Arial

    .search-wrapper
      -webkit-border-radius: 4px
      -moz-border-radius: 4px
      border-radius: 4px
      background-color: #fff
      margin 1.6rem 0.7rem 0
      overflow hidden
      font-size 0.7rem

      .tab
        display flex
        line-height 1.875rem
        border-bottom: 1px solid #FB7772
        justify-content space-between

        > span
          -webkit-border-radius: 0 0 0 8px
          -moz-border-radius: 0 0 0 8px
          border-radius: 0 0 0 8px
          position relative
          width 50%
          text-align center
          &:nth-child(1)
            -webkit-border-radius: 0 0 8px 0
            -moz-border-radius: 0 0 8px 0
            border-radius: 0 0 8px 0
          &.active
            background-color: #FB7772
            color #FFFFFF
            &::before
              px2rem('width', 27)
              px2rem('height', 32)
              content ''
              display inline-block
              position absolute
              background-image: url(../images/mobile/left_tip.png)
              px2rem('left', -23)
              background-position: 0 0
              -webkit-background-size: contain
              background-size: contain
              background-repeat:no-repeat
            &::after
              px2rem('width', 27)
              px2rem('height', 32)
              content ''
              display inline-block
              position absolute
              background-image: url(../images/mobile/right_tip.png)
              background-repeat:no-repeat
              -webkit-background-size: contain
              background-size: contain
              background-position: 0 0
              px2rem('right', -23)

      .search-input
        padding: 0 10px

        .search
          > input
            line-height 2.34rem
            width 100%
            outline: none;

  main
    .card
      margin-top: .625rem
      background-color: #fff

      .card-title
        line-height 1.875rem
        font-size: 0.7rem
        border-bottom: 1px solid #f3f1f1
        position relative
        .active
          color #FB7772

        .bar
          position absolute
          height: 0.1rem
          width: 1.4rem
          margin: 0 1.3rem
          background-color: #FB7772
          left 0
          bottom: 0
          transition left .4s ease-in-out

      .card-banner
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              text-align center

              > img
                width 2rem
                margin 1rem 0 .5rem

              > p
                text-align center
                font-size .6rem
                padding 0 .8rem .8rem

      .card-content
        .card-item
          padding .7rem
          border-bottom: 1px solid #f3f1f1
          .item-title
            font-size:.7rem
            line-height 1rem
          .item-msg
            color #9b9b9b
            font-size:.5rem
            line-height .7rem
            margin-top:.5rem


.swiper-button-next, .swiper-button-prev
  -webkit-background-size: 15px 15px
  background-size: 15px 15px

.swiper-button-prev
  left 0px

.swiper-button-next
  right 0px
