.bin-radio-inner:after {
  background-color: #e13a41;
}
.bin-radio-checked .bin-radio-inner {
  border-color: #e13a41;
}
.mt15 {
  margin-top: 15px;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.msg {
  text-indent: 4px;
}
#app .main-lushan {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
#app .main-lushan .inner-wrapper .slogan-banner {
  width: 1200px;
  height: auto;
}
#app .main-lushan .inner-wrapper .search-wrapper {
  height: 130px;
  padding: 20px;
  background-color: #f9f9f9;
}
#app .main-lushan .inner-wrapper .search-wrapper .bin-radio-group {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
#app .main-lushan .inner-wrapper .search-wrapper .search-input {
  line-height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
#app .main-lushan .inner-wrapper .search-wrapper .search-input .btn {
  color: #fff;
  background-color: #e13a41;
  cursor: pointer;
}
#app .main-lushan .inner-wrapper .search-wrapper .search-input .btn i {
  font-weight: 700;
  line-height: 40px;
  padding: 0 20px;
  font-size: 20px;
  box-sizing: border-box;
}
#app .main-lushan .inner-wrapper .search-wrapper .search-input .input-container {
  flex: 1;
}
#app .main-lushan .inner-wrapper .search-wrapper .search-input .input-container input {
  line-height: 40px;
  height: 40px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  outline-color: transparent;
  border-top: #e2e2e2;
  border-left: #e2e2e2;
  border-right: #e2e2e2;
  border-bottom: #e2e2e2;
  border-width: 1px;
  padding: 10px;
}
#app .main-lushan .inner-wrapper .banner-wrapper {
  overflow: hidden;
  position: relative;
}
#app .main-lushan .inner-wrapper .banner-wrapper .swiper-wrapper {
  height: 108px;
}
#app .main-lushan .inner-wrapper .banner-wrapper .swiper-pagination {
  text-align: right;
  padding-right: 20px;
  right: 0;
}
#app .main-lushan .inner-wrapper .banner-wrapper .my-bullet {
  background-color: #e13a41;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
  text-align: center;
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: inline-block;
}
#app .main-lushan .inner-wrapper .banner-wrapper .my-bullet-active {
  background-color: #fff;
  color: #e13a41;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .left {
  width: 590px;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .left .swiper-container-1 {
  overflow: hidden;
  position: relative;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .left .swiper-container-1 .swiper-pagination {
  text-align: right;
  padding-right: 10px;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .left .swiper-container-1 .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
  border: 1px solid #fff;
  opacity: 0.6;
  height: 10px;
  width: 10px;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .left .swiper-container-1 .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #008dff;
  border: 1px solid #008dff;
  opacity: 1;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .left .swiper-container-1 .swiper-wrapper {
  width: 590px;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .left .swiper-container-1 .swiper-wrapper .swiper-slide {
  width: 590px;
  height: 340px;
  overflow: hidden;
  position: relative;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .left .swiper-container-1 .swiper-wrapper .swiper-slide p {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 590px;
  padding-right: 100px;
  padding-left: 20px;
  height: 40px;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  font-size: 16px;
  line-height: 40px;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .left .swiper-container-1 .swiper-wrapper .swiper-slide img {
  width: 590px;
  height: 340px;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .right {
  width: 590px;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .right .r-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .right .r-top .btns {
  vertical-align: middle;
  display: flex;
  cursor: pointer;
  padding-top: 10px;
  width: 100%;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .right .r-top .btns .toggle-btn {
  display: flex;
  width: 100%;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .right .r-top .btns .toggle-btn .btn {
  height: 50px;
  line-height: 50px;
  width: 25%;
  font-size: 16px;
  text-align: center;
  color: #959799;
  background-color: #f3f6fb;
  transition: color 0.6s, background-color 0.6s;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .right .r-top .btns .toggle-btn .active {
  background-color: #e13a41;
  color: #fff;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .right .r-bot .news .new-abstract .title {
  display: block;
  font-size: 18px;
  color: #333;
  height: 80px;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
  padding: 15px 10px;
  border-bottom: 1px solid #e0e2e4;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .right .r-bot .news .new-abstract .title .abstract-btn {
  float: right;
  color: #959799;
  font-size: 16px;
  font-weight: 400;
  padding-right: 10px;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .right .r-bot .news .new-abstract .content {
  line-height: 22px;
  text-indent: 2em;
  font-size: 14px;
  color: #666;
  padding: 0 10px 5px;
  border-bottom: 1px solid #eee;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .right .r-bot .news .list {
  padding-top: 10px;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .right .r-bot .news .list .item {
  position: relative;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .right .r-bot .news .list .item a {
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  padding: 0 10px;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .right .r-bot .news .list .item a .msg {
  width: 450px;
}
#app .main-lushan .inner-wrapper .banner-content-wrapper .right .r-bot .news .list .item a .time {
  width: 72px;
  color: #959799;
}
#app .main-lushan .inner-wrapper .mid-banner-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
}
#app .main-lushan .inner-wrapper .mid-banner-top .title {
  color: #e13a41;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  position: relative;
  cursor: pointer;
  padding: 0 30px;
}
#app .main-lushan .inner-wrapper .mid-banner-top .title::after {
  content: '';
  display: inline-block;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: #e13a41;
}
#app .main-lushan .inner-wrapper .mid-banner-top .title::before {
  content: '';
  display: inline-block;
  border: 8px solid transparent;
  border-top-color: #e13a41;
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
}
#app .main-lushan .inner-wrapper .mid-banner-top .title img {
  vertical-align: middle;
}
#app .main-lushan .inner-wrapper .mid-banner-top .title i {
  vertical-align: middle;
  font-weight: 700;
}
#app .main-lushan .inner-wrapper .mid-banner-top .btns {
  vertical-align: middle;
  display: flex;
  cursor: pointer;
  padding-top: 10px;
}
#app .main-lushan .inner-wrapper .mid-banner-top .btns .more {
  height: 24px;
  line-height: 24px;
  padding: 0 20px;
  color: #9e9e9e;
}
#app .main-lushan .inner-wrapper .mid-banner-links {
  display: flex;
  justify-content: space-between;
  height: 70px;
}
#app .main-lushan .inner-wrapper .mid-banner-links .link-square {
  flex-wrap: wrap;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  padding-left: 30px;
  margin-left: 24px;
  margin-right: 0;
  top: 20px;
  display: block;
  height: 60px;
  width: 250px;
  box-sizing: border-box;
  font-size: 18px;
  color: #666;
  text-align: right;
}
#app .main-lushan .inner-wrapper .mid-banner-links .link-square:hover .animate-icon {
  animation: iconRoate 2s;
}
#app .main-lushan .inner-wrapper .mid-banner-links .link-square .animate-icon {
  position: absolute;
  top: 10px;
  left: -30px;
  background-color: #fff;
  display: inline-block;
  height: 36px;
  width: 60px;
  text-align: center;
}
#app .main-lushan .inner-wrapper .mid-banner-links .link-square .animate-icon img {
  position: absolute;
  top: -70%;
  left: -22%;
  transform: translate(50%, 50%);
  width: 42px;
  height: 42px;
}
#app .main-lushan .inner-wrapper .mid-banner-links .link-square .link-name {
  padding-right: 30px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 6px;
}
#app .main-lushan .inner-wrapper .mid-banner-bot .news .list {
  padding-top: 10px;
}
#app .main-lushan .inner-wrapper .mid-banner-bot .news .list .item {
  position: relative;
}
#app .main-lushan .inner-wrapper .mid-banner-bot .news .list .item::before {
  content: '';
  display: inline-block;
  height: 4px;
  width: 4px;
  background-color: #e13a41;
  vertical-align: sub;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#app .main-lushan .inner-wrapper .mid-banner-bot .news .list .item a {
  line-height: 35px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  padding: 0 10px;
}
#app .main-lushan .inner-wrapper .mid-banner-bot .news .list .item a .msg {
  width: 400px;
}
#app .main-lushan .inner-wrapper .mid-banner-bot .news .list .item a .time {
  width: 80px;
}
#app .main-lushan .bisect {
  display: flex;
  justify-content: space-between;
}
#app .main-lushan .bisect .left {
  width: 650px;
}
#app .main-lushan .bisect .right {
  width: 530px;
  position: relative;
  padding-top: 40px;
}
#app .main-lushan .bisect .right .title {
  background-color: #e13a41;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
#app .main-lushan .bisect .right .services {
  border: 1px solid #e2e2e2;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
#app .main-lushan .bisect .right .services .service-item {
  display: block;
  position: relative;
  width: 260px;
  height: 86px;
}
#app .main-lushan .bisect .right .services .service-item img {
  position: absolute;
  line-height: 100px;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 10;
}
#app .main-lushan .bisect .right .services .service-item .title-tip {
  padding-top: 5px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: inline-block;
  background-color: #f3f3f3;
  height: 50px;
  width: 230px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding-left: 80px;
  box-sizing: border-box;
  line-height: 20px;
  color: #666;
}
#app .main-lushan .bisect .right .services .service-item .title-tip p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#app .main-lushan .banner-bar {
  height: 200px;
  background-color: #f9f9f9;
  padding: 30px 0;
}
#app .main-lushan .banner-bar .swiper-inner-2 {
  position: relative;
  padding: 0 60px;
  width: 1320px;
  left: 50%;
  transform: translateX(-50%);
}
#app .main-lushan .banner-bar .swiper-container-2 .slide-inner {
  position: relative;
}
#app .main-lushan .banner-bar .swiper-container-2 .slide-inner img {
  display: block;
}
#app .main-lushan .banner-bar .swiper-container-2 .slide-inner p {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  width: 100%;
  height: 30px;
  line-height: 30px;
  transition: background-color ease-in-out 0.2s;
}
#app .main-lushan .banner-bar .swiper-container-2 .slide-inner:hover p {
  background-color: rgba(0,0,0,0.6);
}
#app .main-lushan .banner-bar .banner-wrapper {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
#app .main-lushan .banner-bar .banner-wrapper .swiper-wrapper .swiper-slide {
  text-align: center;
}
#app .main-lushan .banner-bar .banner-wrapper .swiper-wrapper .swiper-slide img {
  margin-bottom: 5px;
}
#app .main-lushan .banner-bar .banner-wrapper .swiper-wrapper .swiper-slide p {
  text-align: center;
}
#app .main-lushan .banner-bar .swiper-container-3 {
  width: 1000px;
  margin-right: 35px;
  margin-top: 17px;
}
#app .main-lushan .special-swiper {
  width: 1200px;
  margin: 20px auto;
  padding: 0;
  height: 169px;
}
#app .main-lushan .special-swiper .special-swiper-inner {
  display: flex;
  justify-content: space-around;
  position: relative;
}
#app .main-lushan .main-contents {
  display: flex;
  justify-content: space-between;
  height: 500px;
}
#app .main-lushan .main-contents .contents-left {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#app .main-lushan .main-contents .contents-left .contents-container {
  width: 580px;
  padding-top: 10px;
}
#app .main-lushan .main-contents .contents-left .contents-container .l-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
  background-image: url("../images/lushan/title_bg.png");
  background-repeat: no-repeat;
}
#app .main-lushan .main-contents .contents-left .contents-container .l-top .title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  position: relative;
  cursor: pointer;
  padding: 0 30px;
  text-align: center;
  width: 140px;
}
#app .main-lushan .main-contents .contents-left .contents-container .l-top .btns {
  vertical-align: middle;
  display: flex;
  cursor: pointer;
  padding-top: 10px;
}
#app .main-lushan .main-contents .contents-left .contents-container .l-top .btns .more {
  height: 24px;
  line-height: 24px;
  padding: 0 20px;
  color: #9e9e9e;
}
#app .main-lushan .main-contents .contents-left .contents-container .l-bot .news .new-abstract .title {
  font-size: 18px;
  color: #333;
  line-height: 50px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  padding: 0 10px;
}
#app .main-lushan .main-contents .contents-left .contents-container .l-bot .news .new-abstract .content {
  line-height: 22px;
  text-indent: 2em;
  font-size: 14px;
  color: #666;
  padding: 0 10px 5px;
  border-bottom: 1px solid #eee;
}
#app .main-lushan .main-contents .contents-left .contents-container .l-bot .news .list {
  padding-top: 10px;
}
#app .main-lushan .main-contents .contents-left .contents-container .l-bot .news .list .item {
  position: relative;
}
#app .main-lushan .main-contents .contents-left .contents-container .l-bot .news .list .item a {
  line-height: 32px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
}
#app .main-lushan .main-contents .contents-left .contents-container .l-bot .news .list .item a .msg {
  width: 450px;
}
#app .main-lushan .main-contents .contents-left .contents-container .l-bot .news .list .item a .time {
  color: #9d9d9d;
  width: 72px;
}
#app .main-lushan .main-contents .contents-right {
  width: 280px;
}
#app .main-lushan .main-contents .contents-right .list {
  height: 480px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}
#app .main-lushan .main-contents .contents-right .list .item {
  height: 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  padding-left: 20px;
  line-height: 60px;
}
#app .main-lushan .main-contents .contents-right .list .item img,
#app .main-lushan .main-contents .contents-right .list .item i {
  vertical-align: middle;
}
#app .main-lushan .main-contents .contents-right .list .item .iconfont {
  padding-right: 10px;
  float: right;
  line-height: 60px;
  vertical-align: middle;
}
#app .main-lushan .main-contents .contents-right .list .item .ellipsis {
  width: 160px;
}
#app .main-lushan .departs-wrapper {
  background-color: #f6f6f6;
  padding-top: 30px;
}
#app .main-lushan .departs-wrapper .title {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  border-bottom: 4px solid #e2e2e2;
}
#app .main-lushan .departs-wrapper .title .title-content {
  line-height: 40px;
  font-weight: 700;
  position: relative;
}
#app .main-lushan .departs-wrapper .title .title-content::after {
  content: '';
  height: 4px;
  background-color: #e13a41;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -13px;
}
#app .main-lushan .departs-wrapper .departs-list {
  display: flex;
  padding-top: 20px;
}
#app .main-lushan .departs-wrapper .departs-list .depart {
  width: 150px;
}
#app .main-lushan .link-area {
  width: 1200px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
}
#app .main-lushan .link-area .link-area-l {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#app .main-lushan .link-area .link-area-l a {
  display: block;
  width: 48%;
}
#app .main-lushan .link-area .link-area-l a img {
  width: 100%;
  display: block;
  margin-bottom: 24px;
}
#app .main-lushan .link-area .link-area-r {
  width: 530px;
  display: flex;
  justify-content: space-between;
}
#app .main-lushan .link-area .link-area-r a {
  display: block;
  width: 32%;
}
@-moz-keyframes iconRoate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes iconRoate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-o-keyframes iconRoate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes iconRoate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
