#app {
  background-color: #f6f6f6;
}
#app .ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#app [flex] {
  display: flex;
}
#app [flex~="justify:space-between"] {
  justify-content: space-between;
}
#app [flex~="justify:space-around"] {
  justify-content: space-around;
}
#app .red-text {
  color: #da2a2c;
}
#app .main {
  width: 1200px;
  margin: 0 auto;
}
#app .main .content-title {
  margin: 40px 0;
}
#app .main .content-title .title-img {
  width: 1200px;
  height: auto;
}
#app .main .contents-msg {
  width: 500px;
}
#app .main .contents-msg .msg {
  margin: 16px 0;
  display: block;
}
#app .main .contents-msg .msg:nth-child(n-2) .msg-title {
  font-size: 24px;
}
#app .main .contents-msg .msg:nth-child(n+3) .msg-title {
  font-size: 16px;
}
#app .main .contents-msg .msg:nth-child(n+3) .msg-title::before {
  content: '>';
  font-weight: 700;
  display: inline-block;
  color: #da2a2c;
  transform: scaleX(0.6);
  margin-right: 5px;
}
#app .main .contents-msg .msg .msg-title {
  color: #1b131a;
  font-size: 16px;
  line-height: 40px;
}
#app .main .contents-msg .msg .msg-abstract {
  color: #8f8887;
  line-height: 30px;
}
#app .main .banner {
  overflow: hidden;
  width: 680px;
}
#app .main .banner .swiper-wrapper .swiper-slide {
  position: relative;
}
#app .main .banner .swiper-wrapper .swiper-slide a {
  height: 400px;
  overflow: hidden;
}
#app .main .banner .swiper-wrapper .swiper-slide img {
  width: 680px;
  height: 400px;
  display: block;
}
#app .main .banner .swiper-wrapper .swiper-slide .info {
  width: 680px;
  position: absolute;
  bottom: 40px;
  background-color: rgba(0,0,0,0.5);
  left: 0;
  line-height: 40px;
  color: #fff;
}
#app .main .atlas {
  padding-bottom: 40px;
}
#app .main .atlas .info {
  width: 1100px;
  position: absolute;
  bottom: -40px;
  line-height: 40px;
}
#app .main .atlas .swiper-slide img {
  width: 1200px;
  height: auto;
}
#app .main .hot-spot {
  width: 24%;
}
#app .main .hot-spot .hot-spot-img {
  display: block;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
#app .main .hot-spot .hot-spot-img img {
  width: 90%;
}
#app .main .hot-spot .hot-spot-title {
  line-height: 40px;
  font-size: 16px;
  background-color: #dc2c2c;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
#app .main .hot-spot .hot-spot-msg {
  font-size: 14px;
  position: relative;
  display: block;
  padding: 6px 10px 6px 30px;
  color: #011115;
  line-height: 20px;
}
#app .main .hot-spot .hot-spot-msg::before {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  content: '';
  display: inline-block;
  background-color: #dc2c2c;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#app .main .contents-build {
  width: 20%;
}
#app .main .contents-build:nth-child(odd) {
  width: 38%;
}
#app .main .contents-build.cb-img {
  text-align: center;
  height: 100%;
  width: auto;
}
#app .main .contents-build .msg .msg-content-top .msg-content-top-title {
  color: #1b131a;
  font-size: 18px;
  padding: 10px 0;
}
#app .main .contents-build .msg .msg-content-top .msg-content-top-title::before {
  content: '';
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 12px;
  height: 12px;
  border: 4px solid #da2a2c;
  margin: 0 8px;
}
#app .main .contents-build .msg .msg-content-top-content {
  color: #8f8887;
  line-height: 22px;
  text-indent: 2em;
}
#app .main .contents-build .msg .msg-content-bot .msg-content-bot-title {
  color: #fff;
  font-size: 18px;
  padding: 20px 0;
  position: relative;
}
#app .main .contents-build .msg .msg-content-bot .msg-content-bot-title::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #e2e2e2;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 1;
}
#app .main .contents-build .msg .msg-content-bot .msg-content-bot-title i {
  background-color: #da2a2c;
  text-align: center;
  padding: 4px 12px;
  position: relative;
  z-index: 2;
}
#app .main .contents-build .msg .msg-content-bot .msg-content-bot-content {
  line-height: 24px;
  color: #1b131a;
}
#app .main .contents-build .msg .msg-content-bot .msg-content-bot-content .content-item {
  position: relative;
  padding-left: 30px;
  display: block;
}
#app .main .contents-build .msg .msg-content-bot .msg-content-bot-content .content-item::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: #da2a2c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
}
#app .main .content-body .content-toggle-wrapper {
  width: 800px;
  margin: 0 auto;
  color: #333;
}
#app .main .content-body .content-toggle-wrapper .btn-box {
  width: 160px;
  cursor: pointer;
  line-height: 20px;
  margin-bottom: 20px;
}
#app .main .content-body .content-toggle-wrapper .btn-box .check-btn {
  display: inline-block;
  text-align: center;
  width: 20px;
  margin-right: 6px;
}
#app .main .content-body .content-toggle-wrapper .btn-box .check-btn .active {
  background-color: #da2a2c;
  color: #fff;
}
#app .main .content-body .content-toggle-wrapper .btn-box .check-btn .default {
  background-color: #ddd;
  color: transparent;
}
#app .main .content-body .content-toggle-wrapper .btn-box .check-btn i {
  display: block;
  width: 20px;
}
#app .main .content-body .content-rb-wrapper .content-rb {
  width: 50%;
  padding-left: 150px;
}
#app .main .content-body .content-rb-wrapper .content-rb:first-child {
  background: url("../images/wlx/cx05_red.png") no-repeat;
  background-position: 20px 15px;
}
#app .main .content-body .content-rb-wrapper .content-rb:last-child {
  background: url("../images/wlx/cx05_black.png") no-repeat;
  background-position: 20px 15px;
}
#app .main .content-body .content-rb-wrapper .content-rb .content {
  width: 440px;
  border: 2px solid #333;
  margin: 16px 0;
  display: block;
  padding: 20px;
}
#app .main .content-body .content-rb-wrapper .content-rb .content .msg .msg-title {
  font-size: 16px;
  color: #1b131a;
  line-height: 36px;
}
#app .main .content-body .content-rb-wrapper .content-rb .content .msg .msg-title::before {
  content: '>';
  font-weight: 700;
  display: inline-block;
  color: #da2a2c;
  transform: scaleX(0.6);
  margin-right: 5px;
}
#app .main .content-body .qr-img {
  width: 600px;
  text-align: center;
}
#app .main .content-body .qr-img img {
  height: 500px;
  width: auto;
}
#app .main .content-body .questionnaire {
  width: 600px;
  height: 500px;
  position: relative;
}
#app .main .content-body .questionnaire .questionnaire-inner {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#app .main .content-body .questionnaire .questionnaire-dept {
  font-size: 18px;
  color: #1b131a;
  font-weight: 700;
  display: inline-block;
  line-height: 28px;
  border-bottom: 3px solid #da2a2c;
}
#app .main .content-body .questionnaire .questionnaire-title {
  color: #1b131a;
}
#app .main .content-body .questionnaire .questionnaire-title h2 {
  font-size: 28px;
  transform: scaleY(0.8);
  line-height: 40px;
  padding: 20px 0 0;
}
#app .main .content-body .questionnaire .questionnaire-title h2 i {
  font-size: 22px;
}
#app .main .content-body .questionnaire .questionnaire-title h1 {
  font-size: 32px;
  font-weight: 700;
  padding: 0 0 20px;
}
#app .main .content-body .questionnaire .questionnaire-content {
  color: #8c939d;
  line-height: 26px;
}
