$mainColor=#e13a41
$mainBgc=#f9f9f9
$mainBdc= #e2e2e2
.bin-radio-inner:after
  background-color: $mainColor
.bin-radio-checked .bin-radio-inner
  border-color: $mainColor

.mt15
  margin-top: 15px

.ellipsis
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;

.msg
  text-indent 4px

#app
  .main
    width: 1200px
    margin 0 auto 20px
    .link-item
      padding-left: 10px
      line-height: 40px
    .company-info
      .company-name
        font-weight: 700
        text-align center
        font-size: 28px
        line-height: 80px
      .company-info-date
        background-color: #f1f1f1
        text-align center
        padding 6px 0
        i
          margin 0 10px
          display inline-block
          vertical-align middle
        .share-link
          vertical-align middle
          display inline-block
          img
            height: 30px
            width: auto
      .table-wrapper
        width: 1000px
        margin 30px auto
        .company-table
          border-top: 1px solid #e5e5e5
          border-left: 1px solid #e5e5e5
          width: 100%
          th
            font-weight: 400
            background-color: #f5f5f5
          th, td
            border-bottom: 1px solid #e5e5e5
            border-right: 1px solid #e5e5e5
            padding 16px 8px 6px
            line-height: 26px
            input
              width: 800px
              border: 1px solid #e5e5e5
              -webkit-border-radius: 2px
              -moz-border-radius: 2px
              border-radius: 2px
              outline none
              box-shadow none
              padding 4px 6px
            &:nth-child(1)
              width 180px
              text-align center

@keyframes iconRoate
  0% {
    transform rotate(0deg)
  }
  25% {
    transform rotate(-30deg)
  }
  75% {
    transform rotate(30deg)
  }
  100% {
    transform rotate(0deg)
  }
