#app
  .city-introduce-wrapper
    padding 30px 0
    .title
      text-align center
      margin: 20px;
    .contents-wrapper
      position relative
      width: 1200px
      height: 360px
      margin: 0 auto;
      -webkit-background-size: 100% 100%
      background-size: 100% 100%
      background-image: url(../images/juxian_city/newsbg.png)
      background-position: center 0;
      background-repeat: no-repeat
      padding-right: 430px;
      padding-left: 80px
      line-height: 40px
      padding-top: 50px
      img
        position absolute
        right 50px
        top: 50%
        transform translateY(-50%)
        height: 260px
        width: 370px
    .swiper-container
      width: 1200px
      box-sizing border-box
      padding 30px
      .swiper-wrapper
        .swiper-slide
          text-align center
          p
            text-align center
            width: 159px;
            height: 43px;
            margin: 0 auto;
            line-height: 36px
            background-repeat: no-repeat
            background-image: url(../images/juxian_city/title02.png)
