#app
  .city-introduce-wrapper
    padding 30px 0
    .title
      text-align center
      margin: 20px;
    .contents-wrapper
      width: 1200px
      height: 350px
      margin: 0 auto;
      background-image: url(../images/juxian_city/bg01-re.png)
      background-position: center 0;
      background-repeat: no-repeat
      padding-right: 430px;
      padding-left: 80px
      line-height: 40px
      padding-top: 50px
    .swiper-container
      width: 1200px
      box-sizing border-box
      padding 30px
      .swiper-wrapper
        .swiper-slide
          text-align center
          p
            text-align center
            width: 159px;
            height: 43px;
            margin: 0 auto;
            line-height: 36px
            background-repeat: no-repeat
            background-image: url(../images/juxian_city/title02.png)
