@import "../styles/luohe-font/iconfont.css";
[flex] {
  display: flex;
}
[dir~='top'] {
  flex-direction: column;
}
[flex~='justify:between'] {
  justify-content: space-between;
}
[flex~='justify:around'] {
  justify-content: space-around;
}
[flex~='justify:center'] {
  justify-content: center;
}
[flex~='justify:end'] {
  justify-content: flex-end;
}
[flex~='align:center'] {
  align-items: center;
}
[flex-box~='1'] {
  flex: 1;
}
#app {
  padding: 10px;
  background-color: #f6f6f6;
}
#app .main .top-bar .item {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #333;
  background-color: #fff;
  padding: 20px;
}
#app .main .top-bar .item:not(:last-child) {
  margin-right: 20px;
}
#app .main .top-bar .item span {
  display: block;
  line-height: 30px;
}
#app .main .top-bar .item span:first-child {
  text-align: center;
  margin-right: 30px;
  font-weight: 700;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.4);
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
}
#app .main .top-bar .item span:first-child i {
  font-size: 28px;
}
#app .main .top-bar .item span:last-child i {
  color: #7e858f;
}
#app .main .top-bar .item span:last-child .num {
  color: #333;
  font-size: 18px;
}
#app .main .top-bar .item:nth-child(1) span:first-child {
  background-color: #4065e0;
}
#app .main .top-bar .item:nth-child(2) span:first-child {
  background-color: #329aef;
}
#app .main .top-bar .item:nth-child(3) span:first-child {
  background-color: #2bcfcf;
}
#app .main .top-bar .item:nth-child(4) span:first-child {
  background-color: #6fcafa;
}
#app .main .card-list .box-card {
  margin-top: 20px;
}
#app .main .card-list .box-card .content .page-wrapper {
  padding: 10px 20px;
  text-align: right;
}
#app .main .card-list .box-card .content .toggle-wrapper {
  margin-bottom: 20px;
}
#app .main .card-list .box-card .content .toggle-wrapper .item {
  position: relative;
  background-color: #fafafa;
  padding: 30px;
  cursor: pointer;
}
#app .main .card-list .box-card .content .toggle-wrapper .item:nth-child(2) .iconfont {
  color: #499df8;
}
#app .main .card-list .box-card .content .toggle-wrapper .item:nth-child(3) .iconfont {
  color: #fec300;
}
#app .main .card-list .box-card .content .toggle-wrapper .item:nth-child(4) .iconfont {
  color: #499df8;
}
#app .main .card-list .box-card .content .toggle-wrapper .item .iconfont {
  font-size: 30px;
  margin-right: 30px;
}
#app .main .card-list .box-card .content .toggle-wrapper .item .title {
  font-size: 20px;
  padding-bottom: 10px;
}
#app .main .card-list .box-card .content .toggle-wrapper .item.active {
  background-color: #0d85ff;
  color: #fff;
}
#app .main .card-list .box-card .content .toggle-wrapper .item.active .iconfont {
  color: #fff;
}
#app .main .card-list .box-card .content .toggle-wrapper .item::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  content: '';
  display: block;
  border-top: 0 solid #000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fafafa;
}
