.mask-radar-container {
  position: absolute;
  left: 1007px;
  top: 342px;
}
.mask-radar-container .mask-inner {
  width: 330px;
  height: 300px;
  position: relative;
}
.mask-radar-container .mask-inner img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.mask-radar-container .mask-inner img:nth-child(2) {
  animation: radar-rotate infinite linear 14.5s;
}
.mask-radar-container .mask-inner img:nth-child(3) {
  animation: radar-rotate-return infinite linear 14s;
}
.mask-radar-container .mask-inner img:nth-child(4) {
  animation: radar-rotate infinite linear 13.5s;
}
.mask-radar-container .mask-inner img:nth-child(5) {
  animation: radar-rotate-return infinite linear 13s;
}
.mask-radar-container .mask-inner img:nth-child(6) {
  animation: radar-rotate infinite linear 12.5s;
}
.mask-radar-container .mask-inner img:nth-child(7) {
  animation: radar-rotate-return infinite linear 12s;
}
.mask-radar-container .mask-inner img:nth-child(8) {
  animation: radar-rotate infinite linear 10s;
}
.mask-radar-container .mask-inner img:nth-child(9) {
  animation: radar-rotate-return infinite linear 9s;
}
.mask-radar-container .mask-inner img:nth-child(10) {
  animation: radar-rotate infinite linear 9s;
}
@-moz-keyframes radar-rotate-return {
  0% {
    transform: rotate(0turn);
    opacity: 0.6;
  }
  50% {
    transform: rotate(1turn);
    opacity: 0.3;
  }
  100% {
    transform: rotate(0turn);
    opacity: 0.6;
  }
}
@-webkit-keyframes radar-rotate-return {
  0% {
    transform: rotate(0turn);
    opacity: 0.6;
  }
  50% {
    transform: rotate(1turn);
    opacity: 0.3;
  }
  100% {
    transform: rotate(0turn);
    opacity: 0.6;
  }
}
@-o-keyframes radar-rotate-return {
  0% {
    transform: rotate(0turn);
    opacity: 0.6;
  }
  50% {
    transform: rotate(1turn);
    opacity: 0.3;
  }
  100% {
    transform: rotate(0turn);
    opacity: 0.6;
  }
}
@keyframes radar-rotate-return {
  0% {
    transform: rotate(0turn);
    opacity: 0.6;
  }
  50% {
    transform: rotate(1turn);
    opacity: 0.3;
  }
  100% {
    transform: rotate(0turn);
    opacity: 0.6;
  }
}
@-moz-keyframes radar-rotate {
  0% {
    transform: rotate(0turn);
    opacity: 0.6;
  }
  50% {
    transform: rotate(0.5turn);
    opacity: 0.3;
  }
  100% {
    transform: rotate(1turn);
    opacity: 0.6;
  }
}
@-webkit-keyframes radar-rotate {
  0% {
    transform: rotate(0turn);
    opacity: 0.6;
  }
  50% {
    transform: rotate(0.5turn);
    opacity: 0.3;
  }
  100% {
    transform: rotate(1turn);
    opacity: 0.6;
  }
}
@-o-keyframes radar-rotate {
  0% {
    transform: rotate(0turn);
    opacity: 0.6;
  }
  50% {
    transform: rotate(0.5turn);
    opacity: 0.3;
  }
  100% {
    transform: rotate(1turn);
    opacity: 0.6;
  }
}
@keyframes radar-rotate {
  0% {
    transform: rotate(0turn);
    opacity: 0.6;
  }
  50% {
    transform: rotate(0.5turn);
    opacity: 0.3;
  }
  100% {
    transform: rotate(1turn);
    opacity: 0.6;
  }
}
