#app
  position relative
#cvsBg
  height 400px
  position absolute
  top: 50%
  left: 50%
  transform translate(-50%, -50%)
  opacity 0.8
  z-index 9
#map
  width: 600px
  height: 600px
  position absolute
  top: 50%
  left: 50%
  z-index 10
  transform translate(-50%, -50%)
.page-container
  position relative
  z-index 8
  .main
    position relative
    overflow hidden
    height: 100%
    .num-bar
      position absolute
      left: 50%
      transform translateX(-50%)
      z-index 10
      padding-top: 30px
      display flex
      flex-direction column
      align-items center
      .num-bar-title
        color #fff
        font-weight: 700
        font-size: 24px
        letter-spacing 6px
        .title-inner
          display block
          width 620px
        .unit
          font-size: 14px
      .num-list
        width: 650px
        padding 0 10px
      .num-box
        margin-top: 20px
        position relative
        background-color: #162e5c
        border: 1px solid #4674d6
        .corner
          position absolute
          $cornerBdc = #01faf9
          &:nth-child(2)
            width: 10px
            height: 10px
            top: 0
            left: 0
            border-top: 1px solid $cornerBdc
            border-left: 1px solid $cornerBdc
          &:nth-child(3)
            width: 10px
            height: 10px
            bottom: 0
            left: 0
            border-bottom: 1px solid $cornerBdc
            border-left: 1px solid $cornerBdc
          &:nth-child(4)
            width: 10px
            height: 10px
            top: 0
            right: 0
            border-top: 1px solid $cornerBdc
            border-right: 1px solid $cornerBdc
          &:nth-child(5)
            width: 10px
            height: 10px
            bottom: 0
            right: 0
            border-bottom: 1px solid $cornerBdc
            border-right: 1px solid $cornerBdc
    .cir-container
      height: 966px
      img
        position absolute
        top: 55%
        left: 50%
        animation rotate-cir infinite linear 60s
        &:nth-child(even)
          animation rotate-cir-reverse infinite linear 60s

    .left-side
      position absolute
      left: 0
      width: 480px
      padding: 20px
      color #fff
      height: 100%
      .inner-table
        width: 400px
        .row
          display flex
          border-bottom: 1px solid #35679c
          .cell
            flex: 1
            height: 66px
            text-align center
            justify-content center
            display flex
            flex-direction column
            align-items center
            font-size: 14px
            &:last-child
              padding 10px 0
            .percent
              display inline-block
              height: 28px
              width: 100%
            .lv-pop
              box-shadow 0 0 10px inset #0086d6
              display inline-block
              width 50px
              height: 50px
              line-height: 50px
              -webkit-border-radius: 50%
              -moz-border-radius: 50%
              border-radius: 50%
            .b-progress-box
              width: 80%
    .right-side
      position absolute
      height: 100%
      right: 0
      width: 480px
      padding: 20px

#pieChart
  width: 100%
  height: 350px
#barChart1
  width: 100%
  height: 350px
#barChart2
  width: 100%
  height: 350px
.num-list
  padding 0 6px
  span
    display inline-block
    width 70px
    height: 90px
    margin 10px 0
    background-repeat: no-repeat
    -webkit-background-size: 100% 100%
    background-size: 100% 100%
  .num-bg-0
    background-image: url(../images/luohe_big_data/num/0.png)
  .num-bg-1
    background-image: url(../images/luohe_big_data/num/1.png)
  .num-bg-2
    background-image: url(../images/luohe_big_data/num/2.png)
  .num-bg-3
    background-image: url(../images/luohe_big_data/num/3.png)
  .num-bg-4
    background-image: url(../images/luohe_big_data/num/4.png)
  .num-bg-5
    background-image: url(../images/luohe_big_data/num/5.png)
  .num-bg-6
    background-image: url(../images/luohe_big_data/num/6.png)
  .num-bg-7
    background-image: url(../images/luohe_big_data/num/7.png)
  .num-bg-8
    background-image: url(../images/luohe_big_data/num/8.png)
  .num-bg-9
    background-image: url(../images/luohe_big_data/num/9.png)
@keyframes rotate-cir
  0% { transform: translate(-50%, -50%) scale(0.9) rotateZ(0) }
  50% { transform: translate(-50%, -50%) scale(0.9) rotateZ(0.5turn) }
  100% { transform: translate(-50%, -50%) scale(0.9) rotateZ(1turn) }

@keyframes rotate-cir-reverse
  0% { transform: translate(-50%, -50%) scale(0.95) rotateZ(0) }
  50% { transform: translate(-50%, -50%) scale(0.95) rotateZ(-0.5turn) }
  100% { transform: translate(-50%, -50%) scale(0.95) rotateZ(-1turn) }
.bin-progress-bar
  padding-right: 0
  margin-right: 0
.bin-progress-bar__outer
  background-color: #01468c
