[flex] {
  display: flex;
}
[flex~='space:between'] {
  justify-content: space-between;
}
[flex~='space:around'] {
  justify-content: space-around;
}
[flex~='dir:top'] {
  flex-direction: column;
}
[flex~='cross:center'] {
  align-items: center;
}
html,
body {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  height: 1024px;
  width: 1280px;
}
#app .top-wrapper {
  background-color: #2e68ed;
  color: #fff;
  height: 110px;
  border-bottom: 1px solid #d5e1fb;
}
#app .top-wrapper span {
  padding: 4px 30px;
}
#app .top-wrapper .title {
  font-size: 46px;
  letter-spacing: 10px;
}
#app .top-wrapper .time-tip {
  text-align: center;
}
#app .top-wrapper .time-tip .time {
  font-size: 36px;
}
#app .top-wrapper .time-tip .date {
  font-size: 22px;
}
#app .home-page {
  flex: 1;
}
#app .home-page .main-wrapper {
  background-image: url("../images/self-service-terminal/bg.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
#app .home-page .main-wrapper .explain-wrapper {
  width: 100%;
  position: absolute;
  bottom: 124px;
  font-size: 30px;
  color: #fff;
  letter-spacing: 16px;
  font-family: "Microsoft YaHei UI Light";
  text-align: center;
}
#app .home-page .main-wrapper .handle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#app .handle-page {
  background-color: #eaeaf5;
  height: 849px;
  padding: 0 50px;
  position: relative;
}
#app .handle-page .top-bar {
  height: 90px;
}
#app .handle-page .top-bar .active {
  cursor: pointer;
}
#app .handle-page .top-bar .steps {
  width: 430px;
  height: 70px;
}
#app .handle-page .top-bar .steps .step-item {
  width: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d2d2d5;
  line-height: 40px;
  font-size: 18px;
}
#app .handle-page .top-bar .steps .step-item:first-of-type .cir::after {
  display: none;
}
#app .handle-page .top-bar .steps .step-item.active .cir {
  background-color: #2e68ed;
}
#app .handle-page .top-bar .steps .step-item.active .cir::after {
  background-color: #2e68ed;
}
#app .handle-page .top-bar .steps .step-item.active .text {
  color: #2e68ed;
}
#app .handle-page .top-bar .steps .step-item .cir {
  display: block;
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #d2d2d5;
  color: #fff;
  position: relative;
}
#app .handle-page .top-bar .steps .step-item .cir::after {
  position: absolute;
  content: '';
  top: 50%;
  left: -90px;
  width: 90px;
  height: 4px;
  transform: translateY(-50%);
  background-color: #d2d2d5;
}
#app .handle-page .top-bar .steps .step-item .text {
  white-space: nowrap;
}
#app .handle-page .top-bar .re-btn {
  font-size: 24px;
  color: #595959;
  background-color: #fff;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  height: 56px;
  line-height: 56px;
  width: 150px;
  text-align: center;
  display: block;
}
#app .handle-page .top-bar .re-btn .num {
  color: #d85959;
}
#app .handle-page .main-inner {
  background-color: #fff;
  flex: 1;
  width: 1180px;
  margin: 0 auto;
}
#app .handle-page .main-inner .title {
  font-size: 28px;
  font-weight: 700;
  padding-top: 52px;
  padding-bottom: 66px;
  text-align: center;
}
#app .handle-page .main-inner p {
  line-height: 40px;
  font-size: 18px;
  color: #292929;
  padding: 0 50px;
}
#app .handle-page .main-inner.card-read-step .title {
  padding-top: 140px;
  padding-bottom: 50px;
}
#app .handle-page .main-inner.card-read-step .card {
  margin: 0 auto;
  width: 530px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  border: 2px dotted #5b6376;
}
#app .handle-page .main-inner.card-read-step .card .card-inner {
  background-color: #5b6376;
  padding: 40px;
}
#app .handle-page .main-inner.card-read-step .card .card-inner img {
  display: block;
  width: 450px;
  height: 248px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
#app .handle-page .main-inner.card-read-step .card .card-inner img:nth-child(1) {
  position: absolute;
  box-shadow: -2px 2px 4px #333;
  transform: perspective(400px) translateX(-100px) translateZ(10px) rotateY(10deg);
  animation: swiping ease-in-out 5s infinite;
}
#app .handle-page .main-inner.card-read-step .card .card-inner-camera {
  position: relative;
}
#app .handle-page .main-inner.card-read-step .card .card-inner-camera img {
  height: auto;
  width: 100%;
  display: block;
}
#app .handle-page .main-inner.card-read-step .card .card-inner-camera img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  animation: rise infinite linear 6s;
}
#app .handle-page .main-inner .list-wrapper {
  width: 100%;
  padding: 0 30px;
}
#app .handle-page .main-inner .list-wrapper .title {
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 400;
}
#app .handle-page .main-inner .list-wrapper .list {
  width: 100%;
  border-top: 1px solid #f8f8f8;
  border-left: 1px solid #f8f8f8;
  line-height: 28px;
}
#app .handle-page .main-inner .list-wrapper .list li span {
  border-bottom: 1px solid #f8f8f8;
  border-right: 1px solid #f8f8f8;
  padding: 6px 30px;
}
#app .handle-page .main-inner .list-wrapper .list li span:nth-child(odd) {
  width: 300px;
  background-color: #f8f8f8;
}
#app .handle-page .main-inner .list-wrapper .list li span:nth-child(even) {
  flex: 1;
}
#app .handle-page .main-inner .table-title {
  font-size: 24px;
  padding: 20px 30px 20px;
}
#app .handle-page .main-inner .table-wrapper {
  width: 100%;
  padding: 0 30px;
}
#app .handle-page .main-inner .table-wrapper .table {
  width: 100%;
}
#app .handle-page .main-inner .table-wrapper .table th,
#app .handle-page .main-inner .table-wrapper .table td {
  padding: 10px;
  line-height: 28px;
}
#app .handle-page .main-inner .table-wrapper .table th:nth-child(1),
#app .handle-page .main-inner .table-wrapper .table td:nth-child(1) {
  width: 60px;
  text-align: center;
}
#app .handle-page .main-inner .table-wrapper .table th:nth-child(2),
#app .handle-page .main-inner .table-wrapper .table td:nth-child(2) {
  width: 200px;
}
#app .handle-page .main-inner .table-wrapper .table th:nth-child(3),
#app .handle-page .main-inner .table-wrapper .table td:nth-child(3) {
  width: 200px;
}
#app .handle-page .main-inner .table-wrapper .table th:nth-child(4),
#app .handle-page .main-inner .table-wrapper .table td:nth-child(4) {
  width: 110px;
}
#app .handle-page .main-inner .table-wrapper .table th:nth-child(5),
#app .handle-page .main-inner .table-wrapper .table td:nth-child(5) {
  width: 240px;
}
#app .handle-page .main-inner .table-wrapper .table th:nth-child(6),
#app .handle-page .main-inner .table-wrapper .table td:nth-child(6) {
  width: 200px;
}
#app .handle-page .main-inner .table-wrapper .table th:nth-child(7),
#app .handle-page .main-inner .table-wrapper .table td:nth-child(7) {
  width: 120px;
}
#app .handle-page .main-inner .table-wrapper .table th {
  background-color: #f8f8f8;
}
#app .handle-page .main-inner .print-wrapper {
  padding-top: 100px;
}
#app .handle-page .main-inner .print-wrapper div {
  text-align: center;
}
#app .handle-page .main-inner .print-wrapper .printer {
  position: relative;
}
#app .handle-page .main-inner .print-wrapper .printer .finish {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-105px);
  font-size: 30px;
  font-weight: 700;
}
#app .handle-page .main-inner .print-wrapper .printer .finish img {
  margin-right: 20px;
}
#app .handle-page .main-inner .print-wrapper .paper {
  transform: translateY(-30px);
  height: 331px;
  overflow: hidden;
}
#app .handle-page .main-inner .print-wrapper .paper img {
  animation: printing infinite linear 20s;
}
#app .handle-page .main-inner .finish-handle-wrapper {
  padding-top: 100px;
  text-align: right;
  padding-right: 100px;
}
#app .handle-page .main-inner .finish-handle-wrapper .finish-tip {
  color: #8c939d;
  margin-right: 30px;
}
#app .handle-page .main-inner .finish-handle-wrapper .finish-tip .finish-count {
  display: inline-block;
  width: 30px;
  text-align: center;
}
#app .handle-page .main-inner .finish-handle-wrapper .finish-btn {
  color: #fff;
  background-color: #2e68ed;
  font-size: 18px;
  padding: 10px 40px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  cursor: pointer;
}
#app .handle-page .explain {
  text-align: center;
  height: 90px;
  line-height: 90px;
  font-size: 30px;
  color: #79797c;
  letter-spacing: 16px;
  font-family: "Microsoft YaHei UI Light";
}
#app .handle-page .search-inner-body {
  height: 800px;
  flex: auto;
  overflow-y: auto;
}
#app .handle-page .search-inner-body .company-list {
  width: 460px;
  margin: 0 auto;
  padding: 30px;
}
#app .handle-page .search-inner-body .company-list li {
  cursor: pointer;
  margin-bottom: 30px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: #2e68ed;
  color: #fff;
  font-size: 20px;
}
#app .searching {
  position: relative;
}
#app .state-wrapper {
  position: absolute;
  top: 50%;
  width: 1280px;
  height: 300px;
  left: 0;
  transform: translateY(-150px);
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
}
#app .state-wrapper .inner-content {
  display: flex;
  width: 400px;
  margin: 0 auto;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}
#app .state-wrapper .inner-content .img-container {
  padding-left: 30px;
}
#app .state-wrapper .text {
  width: 280px;
  letter-spacing: 6px;
  padding-left: 30px;
  padding-right: 0;
}
#app .state-wrapper .loading img {
  animation: rotate infinite linear 3s;
}
#app .state-wrapper .fail {
  width: 500px;
}
#app .state-wrapper .fail .img-container {
  padding-left: 10px;
}
#app .state-wrapper .fail .text {
  width: 450px;
}
#app .state-wrapper .discerning {
  display: block;
  height: 100%;
  width: 100%;
}
#app .state-wrapper .discerning .img-container {
  position: relative;
  height: 100%;
}
#app .state-wrapper .discerning .img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
}
#app .state-wrapper .discerning .img-container img:first-child {
  animation: shine infinite 2s linear;
}
#app .state-wrapper .discerning .img-container img:last-child {
  animation: rotate-cir infinite 2s linear;
}
#app .state-wrapper .discerning .text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  padding-left: 0;
  color: #0094e6;
  transform: translate(-50%, -50%);
}
@-moz-keyframes swiping {
  0% {
    transform: perspective(400px) translateX(-100px) translateZ(10px) rotateY(10deg);
  }
  50% {
    transform: perspective(400px) translateX(0) translateZ(0) rotateY(0deg);
  }
  100% {
    transform: perspective(400px) translateX(-100px) translateZ(10px) rotateY(10deg);
  }
}
@-webkit-keyframes swiping {
  0% {
    transform: perspective(400px) translateX(-100px) translateZ(10px) rotateY(10deg);
  }
  50% {
    transform: perspective(400px) translateX(0) translateZ(0) rotateY(0deg);
  }
  100% {
    transform: perspective(400px) translateX(-100px) translateZ(10px) rotateY(10deg);
  }
}
@-o-keyframes swiping {
  0% {
    transform: perspective(400px) translateX(-100px) translateZ(10px) rotateY(10deg);
  }
  50% {
    transform: perspective(400px) translateX(0) translateZ(0) rotateY(0deg);
  }
  100% {
    transform: perspective(400px) translateX(-100px) translateZ(10px) rotateY(10deg);
  }
}
@keyframes swiping {
  0% {
    transform: perspective(400px) translateX(-100px) translateZ(10px) rotateY(10deg);
  }
  50% {
    transform: perspective(400px) translateX(0) translateZ(0) rotateY(0deg);
  }
  100% {
    transform: perspective(400px) translateX(-100px) translateZ(10px) rotateY(10deg);
  }
}
@-moz-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@-o-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@-moz-keyframes rotate-cir {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
@-webkit-keyframes rotate-cir {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
@-o-keyframes rotate-cir {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
@keyframes rotate-cir {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
@-moz-keyframes shine {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0.4;
  }
  50% {
    transform: translate(-50%, -50%);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 0.4;
  }
}
@-webkit-keyframes shine {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0.4;
  }
  50% {
    transform: translate(-50%, -50%);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 0.4;
  }
}
@-o-keyframes shine {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0.4;
  }
  50% {
    transform: translate(-50%, -50%);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 0.4;
  }
}
@keyframes shine {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0.4;
  }
  50% {
    transform: translate(-50%, -50%);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 0.4;
  }
}
@-moz-keyframes rise {
  0% {
    top: 5%;
  }
  50% {
    top: 75%;
  }
  100% {
    top: 5%;
  }
}
@-webkit-keyframes rise {
  0% {
    top: 5%;
  }
  50% {
    top: 75%;
  }
  100% {
    top: 5%;
  }
}
@-o-keyframes rise {
  0% {
    top: 5%;
  }
  50% {
    top: 75%;
  }
  100% {
    top: 5%;
  }
}
@keyframes rise {
  0% {
    top: 5%;
  }
  50% {
    top: 75%;
  }
  100% {
    top: 5%;
  }
}
@-moz-keyframes printing {
  0% {
    transform: translateY(-100%);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes printing {
  0% {
    transform: translateY(-100%);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes printing {
  0% {
    transform: translateY(-100%);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes printing {
  0% {
    transform: translateY(-100%);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
