.base
  padding: 15px
  background-color: #f0f2f5
.batch-set
  background-color: #fff
  line-height: 30px
  font-size: 14px
  min-width 970px
  color #383838
  input.read-only
    background-color: #f5f5f5
  .title
    border-bottom: 1px solid #f0f2f5
    font-size: 16px
    font-weight: 700
    padding-left: 40px
    line-height: 50px
  .main-view
    padding 10px 40px
  .custom-form
    width 100%
    display flex
    flex-wrap wrap
  .ipt-box
    width: 50%
    margin 10px 0
    position relative
    .select-modal
      position absolute
      top: calc(100% + 20px)
      left: 0
      height: 100px
      width: 400px
      background-color: #fff
      -webkit-border-radius: 4px
      -moz-border-radius: 4px
      border-radius: 4px
    .modal
      display none
      box-shadow 0 0 3px #bbb
    .modal-inner
      position relative
      width: 100%
      height: 100%
      display inline-block
      .close-btn
        position absolute
        right: 10px
        top: -4px
        cursor pointer

    .unit
      padding-left: 8px
    input
      border: 1px solid #ebebeb
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      padding 6px
      width 220px
      height: 30px
      vertical-align middle
    label
      display inline-block
  .ipt-title
    display inline-block
    width 120px
  .red-font
    color #ff4d4f
    padding 4px
  .select
    width 60px
    height: 30px
    border: 1px solid #ebebeb
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    padding: 6px
    display inline-block
    vertical-align middle
    line-height: 18px
    text-align center
    color #398af7
    background-color: #ffffff
    margin-left: 10px
    transition all ease-in-out .2s
    &:hover
      background-color: #398af7
      color #fff
      cursor pointer
  .custom-table
    padding 10px
  .table-title
    border-left: 4px solid #1f7af6
    padding-left: 36px
    font-size: 16px
    margin 15px 0
    .add-group
      float right
      margin-right: 50px
      font-size: 14px
      padding 2px 20px
      border: 1px solid #f5f5f5
      -webkit-border-radius: 4px
      -moz-border-radius: 4px
      border-radius: 4px
      transition all ease-in-out .2s
      &:hover
        background-color: #398af7
        color #fff
        cursor pointer
  .table
    width 100%
    table
      width 100%
      th
        background-color: #fafafa
      td, th
        height 40px
        padding 10px 0
    span
      display inline-block
      vertical-align middle
    input
      border: 1px solid #ebebeb
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      padding 6px
      height: 30px
      vertical-align middle
    .serial
      width 60px
      text-align center
    .receptor
      width 200px
    .name
      width: 200px
    .describe
      width 240px
    .operate
      width 100px
      text-align center
    .operate-btn
      color #1f7af6
      padding 0 10px
