[v-cloak] {
  display: none;
/* minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
}
/* minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: left;
}
i {
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
canvas {
  display: block;
  width: 100%;
  height: 100px;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
[flex] {
  display: flex;
}
[flex~='justify:center'] {
  justify-content: center;
}
[flex~='justify:between'] {
  justify-content: space-between;
}
[flex~='justify:around'] {
  justify-content: space-around;
}
[flex~='justify:end'] {
  justify-content: flex-end;
}
[flex~='col:center'] {
  align-items: center;
}
[flex~='dir:col'] {
  flex-direction: column;
}
[flex~='wrap'] {
  flex-wrap: wrap;
}
[flex-box~='1'] {
  flex: 1;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
div {
  box-sizing: border-box;
}
#app {
  width: 100%;
  height: 100%;
  background-color: #050a1e;
  color: #fff;
}
#app .header {
  text-align: center;
  background-image: url("../images/shuangyashan/title_bg.png");
  height: 80px;
  background-repeat: no-repeat;
  background-position: center 0;
  position: relative;
}
#app .header .select-btn {
  position: absolute;
  z-index: 20;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
#app .header .select-btn .bin-select {
  color: #fff;
}
#app .header .select-btn .bin-select .bin-select-selection {
  margin-top: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: rgba(10,120,200,0.4);
}
#app .header .select-btn .bin-select .bin-select-arrow {
  color: #fff;
}
#app .header .select-btn .bin-select-dropdown {
  background-color: #fff;
}
#app .header .select-btn .bin-select-dropdown .bin-dropdown-item {
  color: #fff;
}
#app .header .title-font {
  font-size: 40px;
  background: linear-gradient(to bottom, #1fb1f2, #184fa8);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  letter-spacing: 4px;
}
#app .main {
  flex: 1;
  overflow: hidden;
}
#app .main .bg-blue-transparent {
  background-color: rgba(20,50,100,0.2);
}
#app .main .side-panel {
  width: 450px;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
  overflow: hidden;
}
#app .main .center-panel {
  flex: 1;
  padding: 16px 0;
  overflow: hidden;
}
#app .main .inner {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: hidden;
}
#app .main .inner .count-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#app .main .inner .count-wrapper .num-box {
  white-space: nowrap;
}
#app .main .inner .count-wrapper .title {
  font-weight: 700;
  font-size: 22px;
}
#app .main .inner .count-wrapper span {
  padding: 0 10px;
}
#app .main .inner .count-wrapper img {
  margin: 0 4px;
}
#app .main .inner .center-pic {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/shuangyashan/zhu.png");
  background-position: bottom center;
  background-repeat: no-repeat;
}
#app .main .inner .center-pic .top {
  height: 260px;
  width: 260px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url("../images/shuangyashan/ball.png");
  transform: translateY(50px);
}
#app .main .inner .center-pic .mid {
  height: 300px;
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center 0;
  background-image: url("../images/shuangyashan/pan.png");
}
#app .main .inner .center-pic .mid::before {
  content: '';
  display: block;
  width: 400px;
  height: 130px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: radial-gradient(transparent, rgba(40,130,220,0.6) 90%);
}
#app .main .inner .center-pic .mid::after {
  content: '';
  display: block;
  width: 500px;
  height: 160px;
  margin: 0 auto;
  transform: translateY(-130px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: radial-gradient(transparent, rgba(40,130,220,0.6) 90%);
}
#app .main .inner .center-distribute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 240px;
  width: 600px;
  height: 400px;
}
#app .main .inner .center-distribute .center-origin {
  position: relative;
  width: 100%;
  height: 100%;
}
#app .main .inner .center-distribute .center-origin .item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app .main .inner .center-distribute .center-origin .item:nth-child(1) {
  left: 20px;
  top: 0;
}
#app .main .inner .center-distribute .center-origin .item:nth-child(2) {
  right: 20px;
  top: 0;
}
#app .main .inner .center-distribute .center-origin .item:nth-child(3) {
  left: -50px;
  bottom: 0;
}
#app .main .inner .center-distribute .center-origin .item:nth-child(4) {
  right: -50px;
  bottom: 0;
}
#app .main .inner .center-distribute .center-origin .item img {
  height: 60px;
  width: 60px;
}
#app .main .inner .center-distribute .center-origin .item .num {
  font-size: 20px;
  font-weight: 700;
  color: #00addd;
}
#app .main .border-light {
  border: 1px solid #081f37;
  position: relative;
}
#app .main .border-light::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  border-left: 4px solid #00bbe4;
  border-right: 4px solid #00bbe4;
}
#app .main .border-light::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  content: '';
  border-left: 4px solid #00bbe4;
  border-right: 4px solid #00bbe4;
}
#app .main .card {
  overflow: hidden;
  margin-top: 10px;
}
#app .main .card-content {
  width: 100%;
}
#app .main .card-content .table-header {
  background-color: #001739;
  height: 40px;
  line-height: 40px;
}
#app .main .card-content .swiper-slide:nth-child(even) {
  background-color: #001739;
}
#app .main .card-content .row {
  height: 100%;
  align-items: center;
}
#app .main .card-content .row .cell {
  text-align: left;
  padding-left: 10px;
  flex: 1;
}
#app .main .card-content .row .cell:last-child {
  padding-left: 0;
  flex: none;
  text-align: center;
  width: 120px;
}
#app .main .card-title {
  font-size: 22px;
  font-weight: 700;
  position: relative;
}
#app .main .card-title::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  background-image: linear-gradient(to right, #144992, transparent);
  z-index: 5;
  transform-origin: 0 100%;
  transform: skew(-45deg) scaleY(0.6);
}
#app .main .card-title i {
  line-height: 36px;
  padding-left: 10px;
  position: relative;
  z-index: 10;
}
#app .main .swiper-container {
  width: 100%;
}
