@import '../styles/datong-irons-font/iconfont.css';
html,
body {
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
  width: 100%;
  background-image: url("../images/datong-irons/top_bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
}
#app [flex] {
  display: flex;
}
#app .bin-form-item-content {
  display: flex;
}
#app .modal-title {
  text-align: center;
  padding-bottom: 20px;
  font-size: 18px;
  color: #8c939d;
}
#app .verification-code {
  width: 100px;
  height: 100%;
  text-align: center;
}
#app .verification-input {
  flex: 1;
}
#app .login-btn {
  width: 100%;
  display: block;
}
#app .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
#app .header .login-container {
  color: #fff;
}
#app .header .login-container >span a {
  color: inherit;
  position: relative;
  margin-right: 20px;
}
#app .header .login-container >span a .tip {
  position: absolute;
  left: 50%;
  bottom: 50%;
  background-color: #fd0001;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
}
#app .header .login-container >span .username {
  margin: 0 20px;
}
#app .footer {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e9e9e9;
}
#app .main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app .main .search-wrapper {
  display: flex;
  width: 800px;
}
#app .main .search-wrapper .icon-ios-search:before {
  content: '查询';
  padding-right: 10px;
}
#app .main .search-wrapper .bin-input-icon {
  width: 60px;
}
#app .main .link-wrapper {
  display: flex;
  padding-top: 160px;
  justify-content: space-between;
  width: 1000px;
}
#app .main .link-wrapper .link-item {
  margin: 0 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transition: box-shadow ease-in-out 0.4s;
}
#app .main .link-wrapper .link-item:hover {
  box-shadow: 0 0 10px rgba(10,30,100,0.8);
}
#app .main .link-wrapper .link-item .description {
  height: 150px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 20px;
}
#app .main .link-wrapper .link-item .description .title {
  font-weight: 700;
  font-size: 18px;
  width: 100%;
}
#app .main .link-wrapper .link-item .links {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#app .main .link-wrapper .link-item:nth-child(1) .description {
  background-image: url("../images/datong-irons/m_bg01.png");
}
#app .main .link-wrapper .link-item:nth-child(2) .description {
  background-image: url("../images/datong-irons/m_bg02.png");
}
#app .main .link-wrapper .link-item:nth-child(3) .description {
  background-image: url("../images/datong-irons/m__bg03.png");
}
#app .main .link-wrapper .link-item:nth-child(4) .description {
  background-image: url("../images/datong-irons/m_bg04.png");
}
