<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../js/lib/bin-ui/styles/index.css">
  <link rel="stylesheet" href="../styles/datong-irons-attent.css">
  <script type="text/javascript" src="../js/lib/vue.min.js"></script>
  <script type="text/javascript" src="../js/lib/bin-ui/bin-ui.min.js"></script>
</head>
<body>
<div id="app">
  <b-modal v-model="loginModal" title="用户登录" class-name="vertical-center-modal" width="400" closable  footer-hide>
    <p class="modal-title">账号密码登录</p>
    <b-form :model="form" ref="form">
      <b-form-item prop="username">
        <b-input size="large" prefix="ios-contact" v-model="form.username" placeholder="请输入用户名"></b-input>
      </b-form-item>
      <b-form-item prop="password">
        <b-input size="large" prefix="ios-lock" v-model="form.password" placeholder="请输入密码"></b-input>
      </b-form-item>
      <b-form-item prop="password" flex>
        <div flex>
          <b-input class="verification-input" size="large" prefix="ios-key" v-model="form.key" placeholder="请输入验证码"></b-input>
          <span class="verification-code">验证码位置</span>
        </div>
      </b-form-item>
    </b-form>
    <b-button class="login-btn" @click="login" type="primary" size="large">登录</b-button>
  </b-modal>
  <div class="header">
    <img src="../images/datong-irons/logo.png" alt="">
    <div class="login-container">
      <span v-if="username !== ''">
        <a href="">
          <i class="iconfont icon-lingdang"></i>
          <span class="tip" v-if="msgCount !== ''">
            {{msgCount}}
          </span>
        </a>
        <i class="username">欢迎您，{{username}}</i>
      </span>
      <b-button @click="quit" type="primary"  plain>{{ isLogin ? "登录" : "退出登录"}}</b-button>
    </div>
  </div>
  <div class="main">
    <div class="top-bg"></div>
    <div class="main-inner">
      <div class="search-wrapper">
        <b-select size="large" style="width:200px" v-model="select">
          <b-option v-for="item in typeList" :value="item.value" :key="item.value">{{ item.label }}</b-option>
        </b-select>
        <b-input size="large" v-model="searchValue" placeholder="请输入搜索内容" search @on-search="search"></b-input>
      </div>
      <div class="list-wrapper">
        <div class="list-inner">
          <div class="menu-list">
            <a href="javascript:;" class="menu-item">
              <i class="iconfont icon-shezhi"></i>
              <i>基本设置</i>
            </a>
            <a href="javascript:;" class="menu-item">
              <i class="iconfont icon-ren111"></i>
              <i>账户管理</i>
            </a>
            <a href="javascript:;" class="menu-item">
              <i class="iconfont icon-lingdang"></i>
              <i>通知公告</i>
            </a>
            <a href="javascript:;" class="menu-item active">
              <i class="iconfont icon-ego-heart"></i>
              <i>我的关注</i>
            </a>
            <a href="javascript:;" class="menu-item">
              <i class="iconfont icon-jiekou"></i>
              <i>接口介绍</i>
            </a>
          </div>
          <div class="notice-list">
            <div class="title">我的关注</div>
            <div class="handle-wrapper">
              <div flex="cross:center">
                <i style="white-space: nowrap">企业名称：</i>
                <b-input search placeholder="请输入搜索内容" v-model="searchIpt" @on-search="search" class="input-item"></b-input>
              </div>
              <div>
                <b-button @click="searchNotice" type="primary">查询</b-button>
                <b-button @click="$refs.selection.selectAll(true);" type="primary">导出</b-button>
              </div>
            </div>
            <b-table :columns="columns" ref="selection" :data="data">
              <template v-slot:name="scope">
                <span>{{ scope.row.name }}</span>
              </template>
              <template v-slot:attent="scope">
                <span>{{ scope.row.attent }}</span>
              </template>
              <template v-slot:update="scope">
                <span>{{ scope.row.update }}</span>
              </template>
              <template v-slot:action="scope">
                <b-button @click="getDetail( scope.row,  scope.index)" size="small">详细</b-button>
                <b-button @click="cancel( scope.row,  scope.index)" size="small">取消</b-button>
              </template>
            </b-table>
            <div class="page-wrapper">
              <b-page :total="100" show-sizer></b-page>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>技术支持：徐州金蝶软件有限公司</p>
    <p>©COPYRIGHT:2016-2020 KINGDEE ALL RIGHT RESERVED</p>
    <p>V4.12.001.20200604</p>
  </div>
</div>
<script>
	new Vue({
		el: "#app",
		data(){
			return {
				username: 'administrator',
				loginModal: false,
				form: {
					username: '',
					password: ''
				},
				msgCount: '99+',
				typeList: [
					{
						value: 0,
						label: '企业法人'
					},
					{
						value: 1,
						label: '自然人'
					}
				],
				select:'',
				searchValue: '',
				searchIpt: '',
				columns: [
					{
						title: '标题',
						slot: 'name',
						tooltip: true
					},
					{
						title: '关注时间',
						slot: 'attent',
						width: 220
					},
					{
						title: '更新时间',
						slot: 'update',
						width: 220
					},
					{
						title: '操作',
						slot: 'action',
						width: 180
					}
				],
				data: [
					{
						name: '模拟企业名',
						attent: '2020-11-11 11:11:11',
						update: '2020-11-11 11:11:11'
					},
					{
						name: '模拟企业名',
						attent: '2020-11-11 11:11:11',
						update: '2020-11-11 11:11:11'
					},
					{
						name: '模拟企业名',
						attent: '2020-11-11 11:11:11',
						update: '2020-11-11 11:11:11'
					},
					{
						name: '模拟企业名',
						attent: '2020-11-11 11:11:11',
						update: '2020-11-11 11:11:11'
					},
					{
						name: '模拟企业名',
						attent: '2020-11-11 11:11:11',
						update: '2020-11-11 11:11:11'
					},
					{
						name: '模拟企业名',
						attent: '2020-11-11 11:11:11',
						update: '2020-11-11 11:11:11'
					}
				]
			}
		},
		computed: {
			isLogin(){
				let result
				// Object.keys(this.user).length === 0 ? result = true : result = false
				this.username === '' ? result = true : result = false
				return result
			}
		},
		methods: {
			quit(){
				// 验证是否有用户登录信息
				if(this.username === ''){
					// 当页面未登录时，弹出登录框
					this.loginModal = true
					let storage = window.localStorage
					console.log(storage.getItem('user'))
				}else{
					// 页面已登录时，点击清除登录状态
					this.username = ''
				}
			},
			login(){
				// axios.post()
				let storage = window.localStorage
				// 若登录请求成功，本地存储数据存入用户信息
				let userData = {username: this.username}
				storage.setItem('user', JSON.stringify(userData))
			},
      // 表左 输入框配置查询图表功能
			search(){
				console.log('标题后input搜索事件触发 对应绑定数据searchIpt')
			},
      // 表右 查询按钮功能
			searchNotice(){
				console.log('查询按钮事件触发：searchNotice')
			},
      // 查看详情
			getDetail (row, index) {
				console.log('获取详情', row, index)
			},
      // 取消该项关注
			cancel (row, index) {
				console.log('取消', row, index)
			}
		},
		mounted(){
		}
	})
</script>
</body>
</html>
