<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../js/lib/bin-ui/styles/index.css">
  <link rel="stylesheet" href="../styles/hanzhong_risk.css">
  <link rel="stylesheet" href="../js/lib/swiper/swiper.min.css">
  <script src="../js/lib/vue.min.js"></script>
  <script src="../js/lib/bin-ui/bin-ui.min.js"></script>
  <script src="../js/lib/echarts/echarts.min.js"></script>
  <script src="../js/lib/swiper/swiper.min.js"></script>
  <script src="../js/lib/axios.min.js"></script>
</head>
<body>
<div id="app" v-cloak>
  <div class="page-container" flex="dir:column">
    <div class="page-title">
      <i class="text-gradient">企业信用风险评价分析系统</i>
      <a href="javascript:;" class="link-btn">*****</a>
    </div>
    <div class="page-content" flex-box="1" flex="dir:column">
      <div class="row-wrapper" flex flex-box="2">
        <div class="card-container side-box">
          <div class="card h100percent" flex="dir:column space:around">
            <div class="title-container">
              <div class="title-content">
                <i>采集数据分类统计</i>
              </div>
            </div>
            <div class="side-inner" flex-box="1" flex="dir:column space:between" style="padding: 30px 0">
              <div class="progress-title" flex="space:between" style="padding: 10px 0"><i>（数据分类）</i><i>（条）</i></div>
              <div class="chart-container" flex="dir:column space:between" flex-box="1">
                <div class="progress" v-for="(item, index) in dataClassificationList">
                  <div class="progress-title" flex="space:between"><i>{{item.label}}</i><i>{{item.value}}</i></div>
                  <b-progress :percent="item.value * 100/(listSum(dataClassificationList))" :show-text="false" active></b-progress>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-container" flex-box="1">
          <div class="center" flex="dir:column">
            <div class="num-title" flex="space:between item:center">
              <div class="title-text"><i>归集企业信息</i><i class="union">（条）</i></div>
              <div class="title-text"><i>归集信息总量</i><i class="union">（条）</i></div>
            </div>
            <!--计数条-->
            <div class="num-bar" flex="space:between">
              <div class="num-box">
                <div class="num-list" flex="space:around">
                  <span v-for="(item, index) in comNumList" :class="'num-bg-'+item"></span>
                </div>
                <div class="corner"></div>
                <div class="corner"></div>
                <div class="corner"></div>
                <div class="corner"></div>
              </div>
              <div class="num-box">
                <div class="num-list" flex="space:around">
                  <span v-for="(item, index) in msgNumList" :class="'num-bg-'+item"></span>
                </div>
                <div class="corner"></div>
                <div class="corner"></div>
                <div class="corner"></div>
                <div class="corner"></div>
              </div>
            </div>
            <!--中心-->
            <div id="map"></div>
          </div>
        </div>
        <div class="card-container side-box">
          <div class="card h100percent" flex="dir:column">
            <div class="title-container">
              <div class="title-content">
                <i>黑名单行业分布</i>
              </div>
            </div>
            <div id="pieChart" flex-box="1"></div>
            <div class="title-container">
              <div class="title-content">
                <i>信用预警企业数量</i>
              </div>
            </div>
            <div id="areaChart" flex-box="1"></div>
          </div>
        </div>
      </div>
      <div class="row-wrapper" style="padding-left: 20px">
        <div class="title-container" style="padding-left: 30px;">
          <div class="title-content">
            <i>高风险企业预警</i>
            <img src="../images/luohe_big_data/icon_yj.png" alt="">
          </div>
        </div>
        <div class="table-container">
          <div class="table-title" flex="space:between">
            <div class="cell">企业名称</div>
            <div class="cell">法定代表人</div>
            <div class="cell">注册资本（万）</div>
            <div class="cell">评级得分</div>
            <div class="cell">评级</div>
          </div>
          <div class="swiper-container" style="height: 183px;">
            <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="(item,index) in list" flex="space:between">
                <div class="cell">{{item.NAME}}</div>
                <div class="cell">{{item.party}}</div>
                <div class="cell">{{item.capital}}</div>
                <div class="cell">{{item.capital}}</div>
                <div class="cell">{{item.LV}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../js/lib/echarts/map/hanzhong.js" type="text/javascript"></script>
<script type="text/javascript">
	new Vue({
		el: '#app',
		data: function () {
			return {
				list: [],
				warningCom: 1256584,
				rotateList: [
					{percent:'10%',count: 126,title: '预警原因'},
					{percent:'10%',count: 126,title: '预警原因'},
					{percent:'10%',count: 126,title: '预警原因'},
					{percent:'10%',count: 126,title: '预警原因'},
					{percent:'10%',count: 126,title: '预警原因'},
					{percent:'10%',count: 126,title: '预警原因'}
				],
				comNumList: [1,2,3,4,5,6,7,8],
				msgNumList: [1,2,3,4,5,6,7,8],
				dataClassificationList: [
					{label:'行政许可',value:10518},
					{label:'行政处罚',value:6852},
					{label:'荣誉信息',value:125},
					{label:'抽检信息',value:125},
					{label:'投诉信息',value:102},
					{label:'舆情信息',value:98},
					{label:'异常名录',value:95}
				],
				blackNameList:[
					{TYPE:'食品类',CNT: 100},
					{TYPE:'其他类',CNT: 100},
					{TYPE:'药品类',CNT: 100},
					{TYPE:'种植养殖类',CNT: 100},
					{TYPE:'家用电器',CNT: 100},
					{TYPE:'汽车配件',CNT: 100},
				],
				wraningComList:[
					['product', '数量'],
					['MM1', 100],
					['MM2', 200],
					['MM3', 300],
					['MM4', 400],
					['MM5', 500],
					['MM6', 600],
					['MM7', 500],
					['MM8', 400],
					['MM9', 300],
					['MM10', 200],
					['MM11', 100],
					['MM12', 300],
				]
			}
		},
		mounted() {
			this.numChange(this.comNumList)
			this.numChange(this.msgNumList)
			this.initData()
			this.renderPieChart({id:'pieChart', data: this.blackNameList})
			this.renderLineChart({id:'areaChart',data: this.wraningComList})
      this.getJson({id:'map'})
		},
		methods: {
			numChange(num) {
				let copy = JSON.parse(JSON.stringify(num))
				let change = setInterval(()=>{
					let arr = []
					num.forEach(()=>{
						arr.push(parseInt(Math.random()*10))
					})
					num.splice(0,8)
					num.push(...arr)
				},100)
				setTimeout(() => {
					window.clearInterval(change)
					num.splice(0,8)
					num.push(...copy)
				}, 1000)
			},
			initData(){
				// axios.get('/user?ID=12345')
				// 	.then((response) => {
				// 		// 从data中解构声明dtCounts
				// 		const {dtCounts} = response.data
				// 		// 获取后渲染相应图表
				// 		this.renderMap({id: 'map', data: dtCounts})
				// 	})
				// 	.catch((error)=>{
				// 		console.log(error);
				// 	});
				let list = JSON.parse(JSON.stringify({
					"list": [
						{
							"NAME": "梅州市革引已有限公司",
							"party": "高勇",
							"capital": 7453,
							"score": 87,
							"LV": "C"
						},
						{
							"NAME": "塔城地区那业来有限公司",
							"party": "曹桂英",
							"capital": 1656,
							"score": 77,
							"LV": "F"
						},
						{
							"NAME": "定西市细南海象有限公司",
							"party": "史桂英",
							"capital": 165,
							"score": 87,
							"LV": "A"
						},
						{
							"NAME": "张家口市天收美表有限公司",
							"party": "钱娜",
							"capital": 4487,
							"score": 25,
							"LV": "B"
						},
						{
							"NAME": "九龙才须百广革有限公司",
							"party": "廖勇",
							"capital": 1730,
							"score": 82,
							"LV": "E"
						},
						{
							"NAME": "东营市西风构水有限公司",
							"party": "罗军",
							"capital": 170,
							"score": 61,
							"LV": "A"
						},
						{
							"NAME": "六安市情规说有限公司",
							"party": "常敏",
							"capital": 4788,
							"score": 45,
							"LV": "B"
						},
						{
							"NAME": "松原市传何文什有限公司",
							"party": "阎涛",
							"capital": 5624,
							"score": 49,
							"LV": "F"
						},
						{
							"NAME": "漳州市支情称规有限公司",
							"party": "贺艳",
							"capital": 7729,
							"score": 81,
							"LV": "E"
						},
						{
							"NAME": "大理白族自治州名深影有限公司",
							"party": "邹杰",
							"capital": 3395,
							"score": 15,
							"LV": "D"
						},
						{
							"NAME": "新竹县料水米有限公司",
							"party": "龚艳",
							"capital": 6556,
							"score": 16,
							"LV": "C"
						},
						{
							"NAME": "铜川市府目到有限公司",
							"party": "于静",
							"capital": 1434,
							"score": 58,
							"LV": "E"
						},
						{
							"NAME": "天津市深消思求条有限公司",
							"party": "卢涛",
							"capital": 847,
							"score": 68,
							"LV": "C"
						},
						{
							"NAME": "四平市成标机议有限公司",
							"party": "蔡军",
							"capital": 809,
							"score": 17,
							"LV": "D"
						},
						{
							"NAME": "六安市最被角有限公司",
							"party": "金涛",
							"capital": 4595,
							"score": 28,
							"LV": "B"
						},
						{
							"NAME": "临沂市花织国想有限公司",
							"party": "金娟",
							"capital": 1552,
							"score": 57,
							"LV": "E"
						},
						{
							"NAME": "绍兴市周造或务有限公司",
							"party": "蔡杰",
							"capital": 639,
							"score": 87,
							"LV": "E"
						},
						{
							"NAME": "香港岛整本照志有限公司",
							"party": "史霞",
							"capital": 2845,
							"score": 28,
							"LV": "F"
						},
						{
							"NAME": "北京市据出际然有有限公司",
							"party": "谭丽",
							"capital": 6335,
							"score": 63,
							"LV": "F"
						},
						{
							"NAME": "龙岩市无只面调有限公司",
							"party": "龙丽",
							"capital": 4124,
							"score": 23,
							"LV": "A"
						}
					]
				})).list
				this.list.push(...list)
				setTimeout(this.createSwiper,10)
			},
			renderPieChart(paramObj) {
				const myChart = echarts.init(document.getElementById(paramObj.id));
				const option = {
					color: ['#0d85ff','#02b2bf','#03cdfa','#e0af4f','#52c41a','#e0926d','#ff4d4f','#d45f92'],
					tooltip: {
						trigger: 'item',
						formatter: param=>{return `${param.name}：${param.value.CNT}（${param.percent}%）`}
					},
					dataset: {
						source: paramObj.data
					},
					legend: {
						orient: 'vertical',
						textStyle: {
							color: '#fff'
						},
						icon: 'circle',
						top: '10%',
						right: 0
					},
					series: [
						{
							name: '访问来源',
							type: 'pie',
							radius: ['20%', '70%'],
							center: ['40%','50%'],
							avoidLabelOverlap: false,
							label: {
								show: true,
								position: 'inside',
								formatter: param=>parseInt(param.percent) + '%'
							},
							labelLine: {
								show: false
							}
						}
					]
				};
				myChart.setOption(option);
			},
			renderLineChart(paramObj){
				const myChart = echarts.init(document.getElementById(paramObj.id));
				const option = {
					color: ['#0d85ff','#02b2bf','#03cdfa','#e0af4f','#52c41a','#e0926d','#ff4d4f','#d45f92'],
					dataset: {
						source: paramObj.data
					},
					grid: {
						right: '2%'
					},
					xAxis: {
						type: 'category',
						axisLine: {
							lineStyle: {
								color: '#2b385c'
							}
						},
						axisTick: {
							show: false
						},
						splitLine: {
							show: false
						},
						axisLabel: {
							color: '#ffffff',
							formatter: label => {
								switch (label) {
									case 'MM1': return '1月'
									case 'MM2': return '2月'
									case 'MM3': return '3月'
									case 'MM4': return '4月'
									case 'MM5': return '5月'
									case 'MM6': return '6月'
									case 'MM7': return '7月'
									case 'MM8': return '8月'
									case 'MM9': return '9月'
									case 'MM10': return '10月'
									case 'MM11': return '11月'
									case 'MM12': return '12月'
								}
							}
						}
					},
					yAxis: {
						type: 'value',
						name: '数量',
						nameTextStyle: {
							color: '#ffffff'
						},
						boundaryGap: ['20%', '20%'],
						axisLine: {
							lineStyle: {
								color: '#2b385c'
							}
						},
						axisTick: {
							show: false
						},
						splitLine: {
							show: true,
							lineStyle: {
								color: '#2b385c'
							}
						},
						axisLabel: {
							color: '#ffffff'
						}
					},
					tooltip:{
						formatter: param => {
							const {name, value} = param
							let str = ""
							switch (name) {
								case 'MM1': str = '1月'
								case 'MM2': str = '2月'
								case 'MM3': str = '3月'
								case 'MM4': str = '4月'
								case 'MM5': str = '5月'
								case 'MM6': str = '6月'
								case 'MM7': str = '7月'
								case 'MM8': str = '8月'
								case 'MM9': str = '9月'
								case 'MM10': str = '10月'
								case 'MM11': str = '11月'
								case 'MM12': str = '12月'
							}
							return str + ' ：' + value[1] + '（条）'
						}
					},
					series: [{
						type: 'line',
						areaStyle: {}
					}]
				};
				myChart.setOption(option)
			},
			listSum(list){
				let sum = 0
				list.forEach(item=>sum+=item.value)
				return sum
			},
			createSwiper(){
				new Swiper ('.swiper-container', {
					direction: 'vertical', // 垂直切换选项
					loop: true, // 循环模式选项
					slidesPerView :4,
					autoplay: true
				})
			},
      getJson(){
	      axios.get('http://192.168.0.219:8000/hanzhong.json').then(
		      res=>{
			      console.log(res);
			      this.renderMap({id:'map',json: res.data})
          }
	      )
      },
      renderMap(paramObj){
	      const myChart = echarts.init(document.getElementById(paramObj.id));
	      myChart.hideLoading();
	      echarts.registerMap('hanzhong',paramObj.json);
	      const option = {
		      tooltip: {
			      trigger: 'item',
			      showDelay: 0,
			      transitionDuration: 0.2,
			      formatter: function (params) {
				      var value = (params.value + '').split('.');
				      value = value[0].replace(/(\d{1,3})(?=(?:\d{3})+(?!\d))/g, '$1,');
				      return params.seriesName + '<br/>' + params.name + ': ' + value;
			      }
		      },
          grid: {
		      	top: 0,
            bottom: 0,
            left: 0,
            right: 0
          },
		      visualMap: {
			      left: 'right',
			      min: 500000,
			      max: 38000000,
			      inRange: {
				      color: ['#313695', '#4575b4', '#74add1', '#87b3c3']
			      },
            show: false,
			      text: ['High', 'Low']
		      },
		      series: [
			      {
				      name: '汉中',
				      type: 'map',
				      roam: true,
				      map: 'hanzhong',
				      emphasis: {
					      label: {
						      show: true,
                  color: '#fff',
					      },
					      itemStyle: {
						      areaColor: '#12276a'
					      }
				      },
              label: {
				      	show: true,
                color: '#fff'
              },
              itemStyle: {
				      	areaColor: '#3654c2'
              },
				      // 文本位置修正
				      // textFixed: {
					    //   Alaska: [20, -20]
				      // },
				      data:[
					      {name: '汉台区', value: 4822023},
					      {name: '南郑区', value: 731449},
					      {name: '城固县', value: 6553255},
					      {name: '洋县', value: 2949131},
					      {name: '西乡县', value: 38041430},
					      {name: '勉县', value: 5187582},
					      {name: '宁强县', value: 3590347},
					      {name: '略阳县', value: 917092},
					      {name: '镇巴县', value: 632323},
					      {name: '留坝县', value: 19317568},
					      {name: '佛坪县', value: 9919945}
				      ]
			      }
		      ]
	      };
	      myChart.setOption(option);
      }
		}
	})
</script>
</body>
</html>
