<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/self-service-terminal.css">
    <script src="../js/lib/vue.min.js"></script>
</head>
<body>
<div id="app">
    <div class="top-wrapper" flex="space:between cross:center">
        <span class="title">自助打印一体机</span>
        <span class="time-tip">
            <i class="time">{{ dateObj.time }}</i><br>
            <i class="date">{{ dateObj.date }}   {{ dateObj.day }}</i>
        </span>
    </div>
    <div class="home-page" v-show="tab===0">
        <div class="main-wrapper">
            <div class="handle-container" flex>
                <a href="javascript:;" style="margin-right: 141px;"><img
                        src="../images/self-service-terminal/person.png" alt=""></a>
                <a href="javascript:;"><img src="../images/self-service-terminal/company.png" alt=""></a>
            </div>
            <div class="explain-wrapper">
                <i>信用报告自助打印系统</i>
            </div>
        </div>
    </div>
    <!--返回 + 步骤条-->
    <div class="handle-page" style="height: 90px; flex: none;" v-show="tab !== 0">
        <div class="top-bar" flex="space:between cross:center">
            <span class="re-btn"
                  :class="countDown === 0 ? 'active' : ''"
                  @click="backTo(tab-1)">
                <i> < </i><i>返回(</i><i class="num">{{ countDown }}</i><i>)</i>
            </span>
            <span class="steps" flex="space:between">
                <span class="step-item" :class="tab >= 1 ? 'active' : ''">
                    <i class="cir">1</i>
                    <i class="text">打印须知</i>
                </span>
                <span class="step-item" :class="tab >= 2 ? 'active' : ''">
                    <i class="cir">2</i>
                    <i class="text">身份验证</i>
                </span>
                <span class="step-item" :class="tab >= 3 ? 'active' : ''">
                    <i class="cir">3</i>
                    <i class="text">查询报告</i>
                </span>
                <span class="step-item" :class="tab >= 5 ? 'active' : ''">
                    <i class="cir">4</i>
                    <i class="text">打印报告</i>
                </span>
            </span>
        </div>
    </div>
    <!--打印须知-->
    <div class="handle-page" flex="dir:top" v-show="tab===1">
        <div class="main-inner">
            <div class="title"><i>打印须知</i></div>
            <p>重要提示：</p>
            <p>1.信用报告自助打印仅限本人持自己的身份证件进行操作。</p>
            <p>2.本报告所记录的信用信息，来源于睢宁县社会信用管理系统，由相关信息提报单位采集报送。</p>
            <p>3.本报告供本人和信息使用者参考。如果认为信息有误，可以向睢宁县社会信用管理办公室提出异议申请，也可以直接向信息提报单位提出异议申请。</p>
            <p>4.本报告内容可能涉及个人隐私，查询者应依法使用、妥善保管。因使用不当造成个人隐私泄露的，信用报告出具单位将不承担相关责任。</p>
        </div>
        <div class="explain">
            信用报告自助打印系统
        </div>
    </div>
    <!-- 身份验证-->
    <div class="handle-page"
         :class="discernState(discernFlag)"
         flex="dir:top"
         v-show="tab===2">
        <!--discernFlag不为0，则进入检测状态，出现遮罩（loading/fail/discerning）-->
        <div class="state-wrapper" v-show="discernFlag !== 0 && discernFlag !== 3">
            <div class="inner-content loading" v-show="discernFlag === 1">
                <div class="img-container"><img src="../images/self-service-terminal/loading.png" alt=""></div>
                <div class="text">信息查询中，<br>请稍后...</div>
            </div>
            <div class="inner-content fail" v-show="discernFlag === 2">
                <div class="img-container"><img src="../images/self-service-terminal/fail.png" alt=""></div>
                <div class="text">获取失败（失败信息）<br>请使用有效证件...</div>
            </div>
            <div class="inner-content discerning" v-show="discernFlag === 4">
                <div class="img-container">
                    <img src="../images/self-service-terminal/circle.png" alt="">
                    <img src="../images/self-service-terminal/circle1.png" alt="">
                </div>
                <div class="text">识别中</div>
            </div>
        </div>
        <div class="main-inner card-read-step">
            <div class="title" v-if="(discernFlag !== 3) && (discernFlag !== 4)">
                <i>请将您的身份证面部朝上</i><br>
                <i>放置在终端机感应区内</i>
            </div>
            <div class="title" v-else>
                <i>请站在摄像头对角的区域内</i>
            </div>
            <div class="card" :style="discernFlag !== 3 || discernFlag !== 4 ? 'width: 398px':''">
                <div class="card-inner" v-if="(discernFlag !== 3) && (discernFlag !== 4)">
                    <img src="../images/self-service-terminal/IDcard.png" alt="">
                    <img src="../images/self-service-terminal/swipingarea.png" alt="">
                </div>
                <div class="card-inner-camera" v-else>
                    <img src="../images/self-service-terminal/Scanningarea.png" alt="">
                    <img src="../images/self-service-terminal/light.png" alt="">
                </div>
            </div>
        </div>
        <div class="explain">
            信用报告自助打印系统
        </div>
    </div>
    <!--查询报告-->
    <div class="handle-page" flex="dir:top" v-show="tab===3 || tab===4">
        <div class="main-inner search-inner-body" v-show="tab===3">
            <div class="company-list">
                <ul>
                    <li v-for="(item, index) in comList" @click="search(item)">{{ item }}</li>
                </ul>
            </div>
        </div>
        <div class="main-inner search-inner-body" v-show="tab===4">
            <div class="list-wrapper">
                <div class="title">荣成东之海食品有限公司信用报告</div>
                <ul class="list">
                    <li v-for="(item, index) in tableData.common" :key="index" flex>
                        <span v-for="(itemA, indexA) in item" :key="indexA">{{ itemA }}</span>
                    </li>
                </ul>
            </div>
            <div class="table-title">
                信用信息
            </div>
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>主体名称</th>
                        <th>统一社会信用代码</th>
                        <th>发生日期</th>
                        <th>信息描述</th>
                        <th>指标</th>
                        <th>报送单位</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in tableData.list" :key="index">
                        <td v-for="(itemA, indexA) in item" :key="indexA">{{ itemA }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="explain">
            信用报告自助打印系统
        </div>
    </div>
    <!--打印报告-->
    <div class="handle-page" flex="dir:top" v-show="tab===5">
        <div class="main-inner">
            <div class="print-wrapper">
                <div>
                    <img src="../images/self-service-terminal/printer.png" alt="">
                </div>
                <div class="paper">
                    <img src="../images/self-service-terminal/baogao.png" alt="">
                </div>
            </div>
        </div>
        <div class="explain" @click="tab = 6">
            信用报告自助打印系统
        </div>
    </div>
    <div class="handle-page" flex="dir:top" v-show="tab===6">
        <div class="main-inner">
            <div class="print-wrapper">
                <div class="printer">
                    <img src="../images/self-service-terminal/printer.png" alt="">
                    <div class="finish" flex="space:between cross:center">
                        <img src="../images/self-service-terminal/finish.png" alt="">
                        <i>打印完成！</i>
                    </div>
                </div>
                <div class="paper">
                    <img src="../images/self-service-terminal/baogao.png" style="animation: none" alt="">
                </div>
            </div>
            <div class="finish-handle-wrapper">
                <span class="finish-tip">系统将在<i class="finish-count">{{ finishCount }}</i>秒后返回首页</span>
                <span class="finish-btn">退出</span>
            </div>
        </div>
        <div class="explain">
            信用报告自助打印系统
        </div>
    </div>
</div>
<script type="text/javascript">
	new Vue({
		el: '#app',
		data: function () {
			return {
				// 日期
				dateObj: {},
				// 步骤分页（
				// 0：首页，
				// 1：打印须知，
				// 2：身份验证，
				// 3：查询报告公司列表，
				// 4：查询报告详情，
				// 5：打印报告中，
				// 6：打印报告结束）
				tab: 6,
				// 倒计时
				countDown: 0,
				// 遮罩状态（0：正常，1：loading，2：失败，3：摄像头识别，4：识别中）
				discernFlag: 4,
				comList: ['某某某有限公司信用报告', '某某某有限公司信用报告'],
				tableData: {
					title: '某某有限公司信用报告',
					common: [[1, 2, 3, 4], [1, 2]],
					list: [
						{
							index: '01',
							name: '某某某食品有限公司',
							code: '91371082MA3CACUM1L',
							createDate: '2018-09-21',
							description: '诚信个体商户，诚信个体商户，诚信个体，诚信个体商户，诚信个体，诚信个体商户',
							standard: '被城市管理部门认定为A类诚信单位',
							fromDept: '市工商局'
						},
						{
							index: '01',
							name: '某某某食品有限公司',
							code: '91371082MA3CACUM1L',
							createDate: '2018-09-21',
							description: '诚信个体商户，诚信个体商户，诚信个体，诚信个体商户，诚信个体，诚信个体商户',
							standard: '被城市管理部门认定为A类诚信单位',
							fromDept: '市工商局'
						},
						{
							index: '01',
							name: '某某某食品有限公司',
							code: '91371082MA3CACUM1L',
							createDate: '2018-09-21',
							description: '诚信个体商户，诚信个体商户，诚信个体，诚信个体商户，诚信个体，诚信个体商户',
							standard: '被城市管理部门认定为A类诚信单位',
							fromDept: '市工商局'
						},
						{
							index: '01',
							name: '某某某食品有限公司',
							code: '91371082MA3CACUM1L',
							createDate: '2018-09-21',
							description: '诚信个体商户，诚信个体商户，诚信个体，诚信个体商户，诚信个体，诚信个体商户',
							standard: '被城市管理部门认定为A类诚信单位',
							fromDept: '市工商局'
						},
						{
							index: '01',
							name: '某某某食品有限公司',
							code: '91371082MA3CACUM1L',
							createDate: '2018-09-21',
							description: '诚信个体商户，诚信个体商户，诚信个体，诚信个体商户，诚信个体，诚信个体商户',
							standard: '被城市管理部门认定为A类诚信单位',
							fromDept: '市工商局'
						},
						{
							index: '01',
							name: '某某某食品有限公司',
							code: '91371082MA3CACUM1L',
							createDate: '2018-09-21',
							description: '诚信个体商户，诚信个体商户，诚信个体，诚信个体商户，诚信个体，诚信个体商户',
							standard: '被城市管理部门认定为A类诚信单位',
							fromDept: '市工商局'
						},
						{
							index: '01',
							name: '某某某食品有限公司',
							code: '91371082MA3CACUM1L',
							createDate: '2018-09-21',
							description: '诚信个体商户，诚信个体商户，诚信个体，诚信个体商户，诚信个体，诚信个体商户',
							standard: '被城市管理部门认定为A类诚信单位',
							fromDept: '市工商局'
						},
						{
							index: '01',
							name: '某某某食品有限公司',
							code: '91371082MA3CACUM1L',
							createDate: '2018-09-21',
							description: '诚信个体商户，诚信个体商户，诚信个体，诚信个体商户，诚信个体，诚信个体商户',
							standard: '被城市管理部门认定为A类诚信单位',
							fromDept: '市工商局'
						},
						{
							index: '01',
							name: '某某某食品有限公司',
							code: '91371082MA3CACUM1L',
							createDate: '2018-09-21',
							description: '诚信个体商户，诚信个体商户，诚信个体，诚信个体商户，诚信个体，诚信个体商户',
							standard: '被城市管理部门认定为A类诚信单位',
							fromDept: '市工商局'
						},
						{
							index: '01',
							name: '某某某食品有限公司',
							code: '91371082MA3CACUM1L',
							createDate: '2018-09-21',
							description: '诚信个体商户，诚信个体商户，诚信个体，诚信个体商户，诚信个体，诚信个体商户',
							standard: '被城市管理部门认定为A类诚信单位',
							fromDept: '市工商局'
						},
					]
				},
				finishCount: 10
			}
		},
        watch: {
			tab: function (n, o) {
				var _self = this
                if ( n === 6 ) {
	                setInterval(function () {
		                _self.finishCount--
	                },1000)
                	setTimeout(function () {
		                _self.tab = 0
	                },10000)
                }
			}
        },
		mounted: function () {
			this.countDownFun()
		},
		methods: {
			// 时间格式化
			reTimeMsg: function () {
				var tip = new Date()
				var year = tip.getFullYear()
				var month = tip.getMonth() + 1
				var date = tip.getDate()
				var hour = tip.getHours()
				var min = tip.getMinutes()
				var sec = tip.getSeconds()

				var fullTime = add0(hour) + ' : ' + add0(min)
				var fullDate = year + '/' + add0(month) + '/' + add0(date)
				var day = reWeekDayStr()

				function add0(p) {
					if (p <= 9) {
						return '0' + p
					} else {
						return p
					}
				}

				function reWeekDayStr() {
					var day = tip.getDay()
					switch (day) {
						case 1:
							return '星期一'
						case 2:
							return '星期二'
						case 3:
							return '星期三'
						case 4:
							return '星期四'
						case 5:
							return '星期五'
						case 6:
							return '星期六'
						case 7:
							return '星期七'
					}
				}

				return {
					time: fullTime,
					date: fullDate,
					day: day
				}
			},
			// 返回上一步页面
			backTo: function (p) {
				this.countDown === 0 ?
					this.tab = p : ''
				// 倒计时初始化
				// this.countDown = 50
			},
			// 返回键计时
			countDownFun: function () {
				var _self = this
				setInterval(function () {
					_self.dateObj = _self.reTimeMsg()
				}, 1000);
				setInterval(function () {
					_self.countDown > 0 ? _self.countDown-- : _self.countDown = 0
				}, 1000)
			},
			// 检测状态
			discernState: function (flag) {
				switch (flag) {
					case 1:
						return 'searching'
					case 2:
						return 'fail'
					case 3:
						return 'discerning'
				}
			},
			// 搜索企业列表
			search: function (companyName) {
				console.log(companyName);
			},
			// 打印完成自动事件
			finishPrint: function () {
				var _self = this
                setTimeout(function () {
	                _self.backTo(0)
                },10000)
			}
		}
	})
</script>
</body>
</html>
