<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../styles/reset.css">
  <link rel="stylesheet" href="../../styles/datong-credit-street.css">
  <script src="../../js/lib/vue.min.js"></script>
  <script src="../../js/lib/axios.min.js"></script>
</head>
<body>
<div id="app">

  <div class="title-bar">
    <i>信用详情</i>
  </div>

  <div class="main-wrapper">
    <div class="company-info-wrapper">
      <div class="title" flex="around align:center">
        <img class="title-icon" src="../../images/datong-mobile/enterprise.png" alt="">
        <p>{{company.name}}</p>
      </div>
      <div class="info-bar" flex="around align:center">
        <span flex="column align:center" flex-box="1">
          <i>法定代表人</i>
          <i>{{company.representative}}</i>
        </span>
        <span class="gray-split-line"></span>
        <span flex="column align:center" flex-box="1">
          <i>注册资本</i>
          <i>{{company.fund}}</i>
        </span>
        <span class="gray-split-line"></span>
        <span flex="column align:center" flex-box="1">
          <i>注册日期</i>
          <i>{{company.registerDate}}</i>
        </span>
      </div>
    </div>
    <div class="card-wrapper">
      <div class="card">
        <div class="title">
          基本信息
        </div>
        <div class="msg-wrapper" flex="">
          <div class="item" flex="column align:center">
            <img v-if="company.base.aaum !== 0" src="../../images/datong-mobile/icon00.png" alt="">
            <img v-else src="../../images/datong-mobile/icon00_a.png" alt="">
            <i>行政许可</i>
            <i class="num" :style="company.base.aaum !== 0? 'color:#F9564D':'color:#A2A8B5'">1</i>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="title">
          信用信息
        </div>
        <div class="msg-wrapper" flex="">
          <div class="item" flex="column align:center">
            <img v-if="company.credit.icp !== 0" src="../../images/datong-mobile/icon01.png" alt="">
            <img v-else src="../../images/datong-mobile/icon01_a.png" alt="">
            <i>行政许可</i>
            <i class="num" :style="company.credit.icp !== 0? 'color:#F9564D':'color:#A2A8B5'">{{company.credit.icp}}</i>
          </div>
          <div class="item" flex="column align:center">
            <img v-if="company.credit.punish !== 0" src="../../images/datong-mobile/icon02.png" alt="">
            <img v-else src="../../images/datong-mobile/icon02_a.png" alt="">
            <i>行政许可</i>
            <i class="num" :style="company.credit.punish !== 0? 'color:#F9564D':'color:#A2A8B5'">{{company.credit.punish}}</i>
          </div>
          <div class="item" flex="column align:center">
            <img v-if="company.credit.good !== 0" src="../../images/datong-mobile/icon03.png" alt="">
            <img v-else src="../../images/datong-mobile/icon03_a.png" alt="">
            <i>行政许可</i>
            <i class="num" :style="company.credit.good !== 0? 'color:#F9564D':'color:#A2A8B5'">{{company.credit.good}}</i>
          </div>
          <div class="item" flex="column align:center">
            <img v-if="company.credit.lose !== 0" src="../../images/datong-mobile/icon04_a.png" alt="">
            <img v-else src="../../images/datong-mobile/icon04.png" alt="">
            <i>行政许可</i>
            <i class="num" :style="company.credit.lose !== 0? 'color:#F9564D':'color:#A2A8B5'">{{company.credit.lose}}</i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="handle-bar" flex="end align:center">
    <i @click="post">投诉</i>
  </div>

</div>
<script type="text/javascript">
  new Vue({
    el: '#app',
    data() {
    	return {
        company: {
        	name: '华强方特（大同）文化科技有限公司',
	        representative: '阿Q',
          fund: '100万',
	        registerDate: '2020-05-05',
          base: {
	          aaum: 1
          },
          credit: {
        		icp: 1,
            punish: 0,
            good: 0,
            lose: 0
          }
        }
      }
    },
    methods: {
      post(){
      	// post方法
      	axios.post({
		      method: 'post',
		      url: '/user/12345',
		      data: {
			      firstName: 'Fred',
			      lastName: 'Flintstone'
		      }
        })
      }
    }
  })
</script>
</body>
</html>
