<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
  <title></title>
  <link rel="stylesheet" href="../../styles/reset.css">
  <link rel="stylesheet" href="../../js/lib/swiper/swiper.min.css">
  <link rel="stylesheet" href="../../styles/index_mobile_index.css">
  <link rel="stylesheet" href="../../styles/flex-auto-prefixer.css">
  <script src="../../js/lib/vue.min.js"></script>
  <script src="../../js/lib/axios.min.js"></script>
  <script src="../../js/lib/velocity.min.js"></script>
  <script src="../../js/mixin.js"></script>

  <script src="../../js/lib/fastclick.min.js"></script>

</head>
<body>
<div id="app" v-cloak>
  <header>
    <div class="web-title">
      <img class="emblem" src="../../images/mobile/icon_logo.png" alt="">
      <span class="title-text">
        <p>信用中国（新云产品）</p>
        <p>CREDIT CHINA</p>
      </span>
    </div>
    <div class="search-wrapper">
      <div class="tab">
        <span :class="{'active':searchType===0}" @click="searchType=0"><i>信用信息</i></span>
        <span :class="{'active':searchType===2}" @click="searchType=2"><i>站内文章</i></span>
      </div>
      <div id="bus" class="search-input" v-show="searchType===0">
        <div class="search">
          <input type="text" placeholder="请输入法人名称">
          <span class="btn-search"><i class="el-icon-search"></i></span>
        </div>
      </div>
      <div id="personal" class="search-input" v-show="searchType===1">
        <div class="search">
          <input type="text" placeholder="请输入统一信用代码">
          <span class="btn-search"><i class="el-icon-search"></i></span>
        </div>
      </div>
      <div id="site" class="search-input" v-show="searchType===2">
        <div class="search">
          <input type="text" placeholder="请输入搜索关键字">
          <span class="btn-search"><i class="el-icon-search"></i></span>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="card">
      <div class="card-title">
        信息公示
      </div>
      <div class="card-banner">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../../images/mobile/icon_xzxk.png" alt="">
              <p>行政许可</p>
            </div>
            <div class="swiper-slide">
              <img src="../../images/mobile/icon_xzcf.png" alt="">
              <p>行政处罚</p>
            </div>
            <div class="swiper-slide">
              <img src="../../images/mobile/icon_xydm.png" alt="">
              <p>统一社会信用代码</p>
            </div>
            <div class="swiper-slide">
              <img src="../../images/mobile/icon_nsmd.png" alt="">
              <p>纳税信用A级名单</p>
            </div>
            <div class="swiper-slide">
              <img src="../../images/mobile/icon_xzxk.png" alt="">
              <p>行政许可</p>
            </div>
            <div class="swiper-slide">
              <img src="../../images/mobile/icon_xzcf.png" alt="">
              <p>行政处罚</p>
            </div>
            <div class="swiper-slide">
              <img src="../../images/mobile/icon_xydm.png" alt="">
              <p>统一社会信用代码</p>
            </div>
            <div class="swiper-slide">
              <img src="../../images/mobile/icon_nsmd.png" alt="">
              <p>纳税信用A级名单</p>
            </div>
            <div class="swiper-slide">
              <img src="../../images/mobile/icon_xzxk.png" alt="">
              <p>行政许可</p>
            </div>
            <div class="swiper-slide">
              <img src="../../images/mobile/icon_xzcf.png" alt="">
              <p>行政处罚</p>
            </div>
            <div class="swiper-slide">
              <img src="../../images/mobile/icon_xydm.png" alt="">
              <p>统一社会信用代码</p>
            </div>
            <div class="swiper-slide">
              <img src="../../images/mobile/icon_nsmd.png" alt="">
              <p>纳税信用A级名单</p>
            </div>
          </div>

          <!-- 导航按钮 -->
          <div class="swiper-button-prev swiper-button-black"></div>
          <div class="swiper-button-next swiper-button-black"></div>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="card-title flex justify-content_space-around">
        <span class="bar" :style="'left:'+tabType*4+'rem'"></span>
        <span :class="{'active':tabType===0}" @click="tabType=0">信用动态</span>
        <span :class="{'active':tabType===1}" @click="tabType=1">政策法规</span>
        <span :class="{'active':tabType===2}" @click="tabType=2">标准规范</span>
        <span :class="{'active':tabType===3}" @click="tabType=3">专项治理</span>
      </div>
      <div v-show="tabType===0" class="card-content">
        <div v-for="item in cardItems" class="card-item">
          <p class="item-title">{{item.title}}</p>
          <p class="item-msg">{{item.postTime}}小时前&nbsp;·&nbsp;{{item.readCount}}次阅读</p>
        </div>
      </div>
      <div v-show="tabType===1" class="card-content">
        <div v-for="item in cardItems" class="card-item">
          <p class="item-title">{{item.title}}</p>
          <p class="item-msg">{{item.postTime}}小时前&nbsp;·&nbsp;{{item.readCount}}次阅读</p>
        </div>
      </div>
      <div v-show="tabType===2" class="card-content">
        <div v-for="item in cardItems" class="card-item">
          <p class="item-title">{{item.title}}</p>
          <p class="item-msg">{{item.postTime}}小时前&nbsp;·&nbsp;{{item.readCount}}次阅读</p>
        </div>
      </div>
      <div v-show="tabType===3" class="card-content">
        <div v-for="item in cardItems" class="card-item">
          <p class="item-title">{{item.title}}</p>
          <p class="item-msg">{{item.postTime}}小时前&nbsp;·&nbsp;{{item.readCount}}次阅读</p>
        </div>
      </div>
    </div>
  </main>

</div>
<script src="../../js/lib/swiper/swiper.min.js"></script>

</body>
<script src="../../mock/index-mobile.js"></script>
<script>
  var CTX_ROOT = '/wcm/'
</script>
<script src="../../js/lib/mobile.js"></script>
<script type="text/javascript">
  var vm = new Vue({
    data: function () {
      return {
        tabType: 0,
        cardItems: [
          {
            title: "安徽省企业纳税信用评价结果“出炉”以来展开的首次评价",
            postTime: 1,
            readCount: 111,
          },
          {
            title: "河南省企业纳税信用评价结果“出炉”以来展开的首次评价",
            postTime: 2,
            readCount: 222,
          },
          {
            title: "河北省企业纳税信用评价结果“出炉”以来展开的首次评价",
            postTime: 3,
            readCount: 333,
          }
        ]
      }
    },
    mounted: function () {
      var mySwiper = new Swiper('.swiper-container', {
        loop: true, // 循环模式选项
        // 如果需要前进后退按钮
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        slidesPerView: 4
      })
    },
    created: function () {

    },
    methods: {
      //覆盖mixin内方法
      getClassList: function () {
      },
      //获取card数据
      /*
      getCardData: function () {
        this.axios({
          method: 'get',
          url: '',
        }).then(function (response) {
          vm.cardItems = response.data
        }).catch(function (error) {
          console.log(error);
        })
      }
      */
    }
  })


</script>
</html>
